# Frequentation des hébergements hotel

Objectif: observation conjoncturelle de la fréquentation dans l'hôtellerie de tourisme et 
    l'étude de la structure de la clientèle, notamment de son origine géographique.
Evolution du PIB par année

In [1]:
#importation des librairies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
%matplotlib inline

import datetime
import time
from time import strftime, gmtime


import os

In [2]:
#téléchargement du csv d'origine pour le mettre dans un dataframe pandas. Nous l'appelons df_mensuel
df_mensuel=pd.read_csv('data/data_avec_pays_origine/valeurs_mensuelles.csv', sep=',')
df_mensuel.sample(50)

,Libellé,idBank,Dernière mise à jour,Période,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
375,Codes,NaN,NaN,NaN,O,O,O,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1069,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
1428,Arrivées dans l'hôtellerie - Résidents - Occit...,10598651.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,234,NaN,NaN,NaN,728,975,629,443,NaN,NaN
1202,Arrivées dans l'hôtellerie - Résidents - Aveyron,10598936.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,52.6,70.8,47.8,28.9,NaN,NaN
748,Arrivées dans l'hôtellerie - Total - Landes,10599176.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,58.97,81.21,48.28,38.42,NaN,NaN
930,Arrivées dans l'hôtellerie - Non-résidents - A...,10598814.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.17,7.33,3.4,0.69,NaN,NaN
503,Codes,NaN,NaN,NaN,O,O,O,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
673,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
2050,Nuitées dans l'hôtellerie - Résidents - Marne,10599247.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.52,86.49,76.29,72.49,NaN,NaN
2375,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
362,Arrivées dans l'hôtellerie de plein air - Non-...,1711296.0,03/07/2020 15:14,NaN,NaN,NaN,NaN,45,52,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2593,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,A,A,A,A,A,A,A,A,A
805,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
1080,Arrivées dans l'hôtellerie - Non-résidents - Y...,10598721.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.99,9.63,5.1,3.95,NaN,NaN
901,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,O,O,O,A,A,A,A,O,O
1721,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
837,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
2308,Taux d'occupation dans l'hôtellerie - Haute-Marne,10598982.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,49.6,50.6,48.3,40.9,NaN,NaN
1671,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,A,A,A,A,A,A,A,A,A
1425,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,O,O,O,A,A,A,A,O,O
292,Logements occupés dans les Autres Hébergements...,10609806.0,30/06/2020 10:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,Codes,NaN,NaN,NaN,O,O,O,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,Arrivées dans l'hôtellerie - Total - Vaucluse,10598756.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,130.57,163.46,94.09,65.8,NaN,NaN
2251,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
499,Codes,NaN,NaN,NaN,O,O,O,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2526,Nombre de chambres occupées dans l'hôtellerie ...,10609621.0,22/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,628,130,238,682,1183,1374,1079,858,519,537
708,Arrivées dans l'hôtellerie - Total - Côtes-d'A...,10599027.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.48,95.23,67.08,53.03,NaN,NaN
2039,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
444,Nombre d’emplacements offerts dans le mois - T...,10609734.0,03/07/2020 15:14,NaN,NaN,NaN,NaN,268,456,522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,Arrivées dans l'hôtellerie - Non-résidents - H...,10599111.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.32,16.43,6.8,1.54,NaN,NaN
2558,Nombre de chambres occupées dans l'hôtellerie ...,10609636.0,22/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,339,39,85,383,799,1060,741,526,218,284
1719,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
1122,Arrivées Non-résidents dans l'hôtellerie - 1 e...,10609544.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137,NaN,NaN,NaN,354,346,158,92,NaN,NaN
1556,Nuitées dans l'hôtellerie - Total - Oise,10599299.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,96.05,104.61,76.36,86.54,NaN,NaN
989,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
1377,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,O,O,O,A,A,A,A,O,O
2497,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,A,A,A,A,A,A,A,A,A
1672,Nuitées dans l'hôtellerie - Total - Normandie,10598624.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,266,25,67,360,800,970,611,478,140,197
19,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2058,Nuitées dans l'hôtellerie - Résidents - Meuse,10599271.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.98,15.7,13.01,14.15,NaN,NaN
486,Nombre d'emplacements occupés du mois - Total ...,10609754.0,03/07/2020 15:14,NaN,NaN,NaN,NaN,10,83,120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2396,Taux d'occupation dans l'hôtellerie - Départem...,10599345.0,19/04/2021 15:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25.1,22.2,28.2,40.6,50.1,35.6,42.5,34.3,48.5
160,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2447,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,A,A,A,A,A,A,A,A,A
2146,Nuitées résidents dans l'hôtellerie - 1 et 2 é...,10609701.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1324,NaN,NaN,NaN,3089,3926,2647,2123,NaN,NaN
655,Codes,NaN,NaN,NaN,O,O,O,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2595,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,A,A,A,A,A,A,A,A,A,A
705,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,O,O,O,O,A,A,A,A,O,O
416,Arrivées dans l'hôtellerie de plein air - Rési...,1711267.0,03/07/2020 15:14,NaN,NaN,NaN,NaN,118,148,122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1678,Nuitées dans l'hôtellerie - Total - Pays de la...,10598548.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,246,23,63,313,686,829,569,482,156,203

In [3]:
#les données dans notre csv apparaissent plusieurs fois,donc il nous faut supprimer les redondances. 
#Ici j'affiche tous ceux qui sont regroupés par "Total". 
#Ces données sont dans la colonne "Libellé"
drp = df_mensuel[df_mensuel['Libellé'].str.contains("Total")]['Libellé']
drp

0       Arrivées dans l'hôtellerie - Total - Départeme...
2       Arrivées dans l'hôtellerie - Total - France mé...
4       Arrivées dans l'hôtellerie - Total - France mé...
6       Arrivées dans l'hôtellerie - Total - Guadeloup...
8       Arrivées dans l'hôtellerie - Total - Martiniqu...
                              ...
2620    Nombre de chambres offertes dans l'hôtellerie ...
2622    Nombre de chambres offertes dans l'hôtellerie ...
2624    Nombre de chambres offertes dans l'hôtellerie ...
2626    Nombre de chambres offertes dans l'hôtellerie ...
2628    Nombre de chambres offertes dans l'hôtellerie ...
Name: Libellé, Length: 412, dtype: object

In [4]:
#suppression des données calculées par "total" affichées plus haut
df_mensuel= df_mensuel[~df_mensuel['Libellé'].str.contains("Total")]
df_mensuel['Libellé'].unique()

array(['Codes',
       "Arrivées dans l'hôtellerie - Non-résidents - Départements d'outre-mer - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - France métropolitaine et Départements d'outre-mer - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - France métropolitaine - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Île-de-France - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Centre-Val de Loire - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Bourgogne-Franche-Comté - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Normandie - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Hauts-de-France - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Grand Est - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Pays de la Loire - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Bretagne - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Nouvelle-Aquitaine - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Occitanie - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Auvergne-Rhône-Alpes - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Provence-Alpes-Côte d'Azur - Série arrêtée",
       "Arrivées dans l'hôtellerie - Non-résidents - Corse - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Départements d'outre-mer - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - France métropolitaine et Départements d'outre-mer - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - France métropolitaine - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Île-de-France - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Centre-Val de Loire - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Bourgogne-Franche-Comté - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Normandie - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Hauts-de-France - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Grand Est - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Pays de la Loire - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Bretagne - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Nouvelle-Aquitaine - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Occitanie - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Auvergne-Rhône-Alpes - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Provence-Alpes-Côte d'Azur - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Corse - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Départements d'outre-mer - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - France métropolitaine et Départements d'outre-mer - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - France métropolitaine - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Île-de-France - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Centre-Val de Loire - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Bourgogne-Franche-Comté - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Normandie - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Hauts-de-France - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Grand Est - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Pays de la Loire - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Bretagne - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Nouvelle-Aquitaine - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Occitanie - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Auvergne-Rhône-Alpes - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Provence-Alpes-Côte d'Azur - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Corse - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Départements d'outre-mer - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - France métropolitaine et Départements d'outre-mer - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - France métropolitaine - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Île-de-France - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Centre-Val de Loire - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Bourgogne-Franche-Comté - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Normandie - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Hauts-de-France - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Grand Est - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Pays de la Loire - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Bretagne - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Nouvelle-Aquitaine - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Occitanie - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Auvergne-Rhône-Alpes - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Provence-Alpes-Côte d'Azur - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Corse - Série arrêtée",
       "Nombre d'établissements dans les Autres Hébergements Collectifs Touristiques - Autres espaces touristiques - France métropolitaine",
       "Nombre d'établissements dans les Autres Hébergements Collectifs Touristiques - France métropolitaine",
       "Nombre d'établissements dans les Autres Hébergements Collectifs Touristiques - Ile-de-France - France métropolitaine",
       "Nombre d'établissements dans les Autres Hébergements Collectifs Touristiques - littoral - France métropolitaine",
       "Nombre d'établissements dans les Autres Hébergements Collectifs Touristiques - massifs ski - France métropolitaine",
       "Nombre d'établissements dans les Autres Hébergements Collectifs Touristiques - urbain province - France métropolitaine",
       'Nuitées – Non-résidents - dans les Autres Hébergements Collectifs Touristiques - Autres espaces touristiques - France métropolitaine',
       'Nuitées – Non-résidents - dans les Autres Hébergements Collectifs Touristiques - France métropolitaine',
       'Nuitées – Non-résidents - dans les Autres Hébergements Collectifs Touristiques - Ile-de-France - France métropolitaine',
       'Nuitées – Non-résidents - dans les Autres Hébergements Collectifs Touristiques - littoral - France métropolitaine',
       'Nuitées – Non-résidents - dans les Autres Hébergements Collectifs Touristiques - massifs ski - France métropolitaine',
       'Nuitées – Non-résidents - dans les Autres Hébergements Collectifs Touristiques - urbain province - France métropolitaine',
       'Nuitées – Résidents - dans les Autres Hébergements Collectifs Touristiques - Autres espaces touristiques - France métropolitaine',
       'Nuitées - Résidents - dans les Autres Hébergements Collectifs Touristiques - France métropolitaine',
       'Nuitées – Résidents - dans les Autres Hébergements Collectifs Touristiques - Ile-de-France - France métropolitaine',
       'Nuitées – Résidents - dans les Autres Hébergements Collectifs Touristiques - littoral - France métropolitaine',
       'Nuitées – Résidents - dans les Autres Hébergements Collectifs Touristiques - massifs ski - France métropolitaine',
       'Nuitées – Résidents - dans les Autres Hébergements Collectifs Touristiques - urbain province - France métropolitaine',
       'Logements occupés dans les Autres Hébergements Collectifs Touristiques - Autres espaces touristiques - France métropolitaine',
       'Logements occupés dans les Autres Hébergements Collectifs Touristiques - France métropolitaine',
       'Logements occupés dans les Autres Hébergements Collectifs Touristiques - Ile-de-France - France métropolitaine',
       'Logements occupés dans les Autres Hébergements Collectifs Touristiques - littoral - France métropolitaine',
       'Logements occupés dans les Autres Hébergements Collectifs Touristiques - massifs ski - France métropolitaine',
       'Logements occupés dans les Autres Hébergements Collectifs Touristiques - urbain province - France métropolitaine',
       'Logements offerts dans les Autres Hébergements Collectifs Touristiques - Autres espaces touristiques - France métropolitaine',
       'Logements offerts dans les Autres Hébergements Collectifs Touristiques - France métropolitaine',
       'Logements offerts dans les Autres Hébergements Collectifs Touristiques - Ile-de-France - France métropolitaine',
       'Logements offerts dans les Autres Hébergements Collectifs Touristiques - littoral - France métropolitaine',
       'Logements offerts dans les Autres Hébergements Collectifs Touristiques - massifs ski - France métropolitaine',
       'Logements offerts dans les Autres Hébergements Collectifs Touristiques - urbain province - France métropolitaine',
       "Nombre d'établissements dans les Autres Hébergements Collectifs Touristiques - Village vacances et autres - France métropolitaine",
       'Nuitées – Non-résidents dans les Autres Hébergements Collectifs Touristiques - Village vacances et autres - France métropolitaine',
       'Nuitées – Résidents dans les Autres Hébergements Collectifs Touristiques - Village vacances et autres - France métropolitaine',
       'Logements occupés dans les Autres Hébergements Collectifs Touristiques - Village vacances et autres - France métropolitaine',
       'Logements offerts dans les Autres Hébergements Collectifs Touristiques - Village vacances et autres - France métropolitaine',
       "Nombre d'établissements dans les Autres Hébergements Collectifs Touristiques - Résidences de tourisme, résidences hôtelières de chaîne - France métropolitaine",
       'Nuitées – Non-résidents dans les Autres Hébergements Collectifs Touristiques - Résidences de tourisme, résidences hôtelières de chaîne - France métropolitaine',
       'Nuitées – Résidents dans les Autres Hébergements Collectifs Touristiques - Résidences de tourisme, résidences hôtelières de chaîne - France métropolitaine',
       'Logements occupés dans les Résidences de tourisme, résidences hôtelières de chaîne - France métropolitaine',
       'Logements offerts dans les Résidences de tourisme, résidences hôtelières de chaîne - France métropolitaine',
       "Arrivées dans l'hôtellerie de plein air - catégorie 1 et 2 étoiles - France métropolitaine",
       "Arrivées dans l'hôtellerie de plein air - catégorie 3 étoiles - France métropolitaine",
       "Arrivées dans l'hôtellerie de plein air - catégorie 4 et 5 étoiles - France métropolitaine",
       "Arrivées dans l'hôtellerie de plein air - Hors littoral - France métropolitaine",
       "Arrivées dans l'hôtellerie de plein air - Littoral - France métropolitaine",
       "Arrivées dans l'hôtellerie de plein air - catégorie Non classés - France métropolitaine",
       "Arrivées Non-résidents dans l'hôtellerie de plein air - catégorie 1 et 2 étoiles - France métropolitaine",
       "Arrivées Non-résidents dans l'hôtellerie de plein air - catégorie 3 étoiles - France métropolitaine",
       "Arrivées Non-résidents dans l'hôtellerie de plein air - catégorie 4 et 5 étoiles - France métropolitaine",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - France métropolitaine",
       "Arrivées Non-résidents dans l'hôtellerie de plein air - Hors littoral - France métropolitaine",
       "Arrivées Non-résidents dans l'hôtellerie de plein air - Littoral - France métropolitaine",
       "Arrivées Non-résidents dans l'hôtellerie de plein air - catégorie Non classés - France métropolitaine",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Île-de-France",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Centre-Val de Loire",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Bourgogne-Franche-Comté",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Normandie",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Hauts-de-France",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Grand Est",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Pays de la Loire",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Bretagne",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Nouvelle-Aquitaine",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Occitanie",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Auvergne-Rhône-Alpes",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Provence-Alpes-Côte d'Azur",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Corse",
       "Arrivées Résidents dans l'hôtellerie de plein air - catégorie 1 et 2 étoiles - France métropolitaine",
       "Arrivées Résidents dans l'hôtellerie de plein air - catégorie 3 étoiles - France métropolitaine",
       "Arrivées Résidents dans l'hôtellerie de plein air - catégorie 4 et 5 étoiles - France métropolitaine",
       "Arrivées dans l'hôtellerie de plein air - Résidents - France métropolitaine",
       "Arrivées Résidents dans l'hôtellerie de plein air - Hors littoral - France métropolitaine",
       "Arrivées Résidents dans l'hôtellerie de plein air - Littoral - France métropolitaine",
       "Arrivées Résidents dans l'hôtellerie de plein air - catégorie Non classés - France métropolitaine",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Île-de-France",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Centre-Val de Loire",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Bourgogne-Franche-Comté",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Normandie",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Hauts-de-France",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Grand Est",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Pays de la Loire",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Bretagne",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Nouvelle-Aquitaine",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Occitanie",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Auvergne-Rhône-Alpes",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Provence-Alpes-Côte d'Azur",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Corse",
       'Nombre d’emplacements offerts dans le mois - catégorie 1 et 2 étoiles - France métropolitaine',
       'Nombre d’emplacements offerts dans le mois - catégorie 3 étoiles - France métropolitaine',
       'Nombre d’emplacements offerts dans le mois - catégorie 4 et 5 étoiles - France métropolitaine',
       'Nombre d’emplacements offerts dans le mois - France métropolitaine',
       'Nombre d’emplacements offerts dans le mois - Hors littoral - France métropolitaine',
       'Nombre d’emplacements offerts dans le mois - Littoral - France métropolitaine',
       'Nombre d’emplacements offerts dans le mois - catégorie Non classés - France métropolitaine',
       "Nombre d'emplacements occupés du mois - catégorie 1 et 2 étoiles - France métropolitaine",
       "Nombre d'emplacements occupés du mois - catégorie 3 étoiles - France métropolitaine",
       "Nombre d'emplacements occupés du mois - catégorie 4 et 5 étoiles - France métropolitaine",
       "Nombre d'emplacements occupés du mois - France métropolitaine",
       "Nombre d'emplacements occupés du mois - Hors littoral - France métropolitaine",
       "Nombre d'emplacements occupés du mois - Littoral - France métropolitaine",
       "Nombre d'emplacements occupés du mois - catégorie Non classés - France métropolitaine",
       "Nombre d'établissements - catégorie 1 et 2 étoiles - France métropolitaine",
       "Nombre d'établissements - catégorie 3 étoiles - France métropolitaine",
       "Nombre d'établissements - catégorie 4 et 5 étoiles - France métropolitaine",
       "Nombre d'établissements - France métropolitaine",
       "Nombre d'établissements - Hors littoral - France métropolitaine",
       "Nombre d'établissements - Littoral - France métropolitaine",
       "Nombre d'établissements - catégorie Non classés - France métropolitaine",
       "Nuitées dans l'hôtellerie de plein air - catégorie 1 et 2 étoiles - France métropolitaine",
       "Nuitées dans l'hôtellerie de plein air - catégorie 3 étoiles - France métropolitaine",
       "Nuitées dans l'hôtellerie de plein air - catégorie 4 et 5 étoiles - France métropolitaine",
       "Nuitées dans l'hôtellerie de plein air - Hors littoral - France métropolitaine",
       "Nuitées dans l'hôtellerie de plein air - Littoral - France métropolitaine",
       "Nuitées dans l'hôtellerie de plein air - catégorie Non classés - France métropolitaine",
       "Nuitées Non-résidents dans l'hôtellerie de plein air - catégorie 1 et 2 étoiles- France métropolitaine",
       "Nuitées Non-résidents dans l'hôtellerie de plein air - catégorie 3 étoiles- France métropolitaine",
       "Nuitées Non-résidents dans l'hôtellerie de plein air - catégorie 4 et 5 étoiles- France métropolitaine",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - France métropolitaine",
       "Nuitées Non-résidents dans l'hôtellerie de plein air - Hors littoral - France métropolitaine",
       "Nuitées Non-résidents dans l'hôtellerie de plein air - Littoral - France métropolitaine",
       "Nuitées Non-résidents dans l'hôtellerie de plein air - catégorie Non classés - France métropolitaine",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Île-de-France",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Centre-Val de Loire",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Bourgogne-Franche-Comté",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Normandie",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Hauts-de-France",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Grand Est",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Pays de la Loire",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Bretagne",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Nouvelle-Aquitaine",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Occitanie",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Auvergne-Rhône-Alpes",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Provence-Alpes-Côte d'Azur",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Corse",
       "Nuitées Résidents dans l'hôtellerie de plein air - catégorie 1 et 2 étoiles- France métropolitaine",
       "Nuitées Résidents dans l'hôtellerie de plein air - catégorie 3 étoiles- France métropolitaine",
       "Nuitées Résidents dans l'hôtellerie de plein air - catégorie 4 et 5 étoiles- France métropolitaine",
       "Nuitées dans l'hôtellerie de plein air - Résidents - France métropolitaine",
       "Nuitées Résidents dans l'hôtellerie de plein air - Hors littoral - France métropolitaine",
       "Nuitées Résidents dans l'hôtellerie de plein air - Littoral - France métropolitaine",
       "Nuitées Résidents dans l'hôtellerie de plein air - catégorie Non classés - France métropolitaine",
       "Nuitées dans l'hôtellerie de plein air - Résidents - Île-de-France",
       "Nuitées dans l'hôtellerie de plein air - Résidents - Centre-Val de Loire",

In [5]:
#Comme pour total ci-dessus, nos données sont disponibles à la fois par Région et par départements. 
#Nous allons supprimer le regroupement par régions et garder la plus petite granularité,c'est à dire le département. 
#Dans la BDD, il sera possible de retrouver le niveau supérieur. 
#Nous allons créer une liste d'élements que nous souhaitons supprimer. 

liste =["Départements d'outre-mer",
"France métropolitaine et Départements d'outre-mer",
"France métropolitaine",
"Île-de-France",
"Centre-Val de Loire",
"Bourgogne-Franche-Comté",
"Normandie",
"Hauts-de-France", 
"Grand Est",
"Pays de la Loire",
"Bretagne",
"Nouvelle-Aquitaine",
"Occitanie",
"Auvergne-Rhône-Alpes",
"Provence-Alpes-Côte d'Azur",
"Codes","France"]

In [6]:
#Suppression des élements contenus dans notre liste. 
for element in liste:
     df_mensuel=df_mensuel[~df_mensuel['Libellé'].str.contains(element)]

In [7]:
#dans notre liste de régions à supprimer, nous avons exclu la Corse 
#parce que cela aurait supprimé Haute Corse et Corse du Sud avec la méthode str contains
df_mensuel["Libellé"].unique()

array(["Arrivées dans l'hôtellerie - Non-résidents - Corse - Série arrêtée",
       "Arrivées dans l'hôtellerie - Résidents - Corse - Série arrêtée",
       "Nuitées dans l'hôtellerie - Non-résidents - Corse - Série arrêtée",
       "Nuitées dans l'hôtellerie - Résidents - Corse - Série arrêtée",
       "Arrivées dans l'hôtellerie de plein air - Non-résidents - Corse",
       "Arrivées dans l'hôtellerie de plein air - Résidents - Corse",
       "Nuitées dans l'hôtellerie de plein air - Non-résidents - Corse",
       "Nuitées dans l'hôtellerie de plein air - Résidents - Corse",
       "Arrivées dans l'hôtellerie - Non-résidents - Ain",
       "Arrivées dans l'hôtellerie - Non-résidents - Aisne",
       "Arrivées dans l'hôtellerie - Non-résidents - Allier",
       "Arrivées dans l'hôtellerie - Non-résidents - Alpes-de-Haute-Provence",
       "Arrivées dans l'hôtellerie - Non-résidents - Hautes-Alpes",
       "Arrivées dans l'hôtellerie - Non-résidents - Alpes-Maritimes",
       "Arrivées dans l'hôtellerie - Non-résidents - Ardèche",
       "Arrivées dans l'hôtellerie - Non-résidents - Ardennes",
       "Arrivées dans l'hôtellerie - Non-résidents - Ariège",
       "Arrivées dans l'hôtellerie - Non-résidents - Aube",
       "Arrivées dans l'hôtellerie - Non-résidents - Aude",
       "Arrivées dans l'hôtellerie - Non-résidents - Aveyron",
       "Arrivées dans l'hôtellerie - Non-résidents - Bouches-du-Rhône",
       "Arrivées dans l'hôtellerie - Non-résidents - Calvados",
       "Arrivées dans l'hôtellerie - Non-résidents - Cantal",
       "Arrivées dans l'hôtellerie - Non-résidents - Charente",
       "Arrivées dans l'hôtellerie - Non-résidents - Charente-Maritime",
       "Arrivées dans l'hôtellerie - Non-résidents - Cher",
       "Arrivées dans l'hôtellerie - Non-résidents - Corrèze",
       "Arrivées dans l'hôtellerie - Non-résidents - Côte-d'Or",
       "Arrivées dans l'hôtellerie - Non-résidents - Côtes-d'Armor",
       "Arrivées dans l'hôtellerie - Non-résidents - Creuse",
       "Arrivées dans l'hôtellerie - Non-résidents - Dordogne",
       "Arrivées dans l'hôtellerie - Non-résidents - Doubs",
       "Arrivées dans l'hôtellerie - Non-résidents - Drôme",
       "Arrivées dans l'hôtellerie - Non-résidents - Eure",
       "Arrivées dans l'hôtellerie - Non-résidents - Eure-et-Loir",
       "Arrivées dans l'hôtellerie - Non-résidents - Finistère",
       "Arrivées dans l'hôtellerie - Non-résidents - Corse-du-Sud",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Corse",
       "Arrivées dans l'hôtellerie - Non-résidents - Gard",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Garonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Gers",
       "Arrivées dans l'hôtellerie - Non-résidents - Gironde",
       "Arrivées dans l'hôtellerie - Non-résidents - Hérault",
       "Arrivées dans l'hôtellerie - Non-résidents - Ille-et-Vilaine",
       "Arrivées dans l'hôtellerie - Non-résidents - Indre",
       "Arrivées dans l'hôtellerie - Non-résidents - Indre-et-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Isère",
       "Arrivées dans l'hôtellerie - Non-résidents - Jura",
       "Arrivées dans l'hôtellerie - Non-résidents - Landes",
       "Arrivées dans l'hôtellerie - Non-résidents - Loir-et-Cher",
       "Arrivées dans l'hôtellerie - Non-résidents - Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Loire-Atlantique",
       "Arrivées dans l'hôtellerie - Non-résidents - Loiret",
       "Arrivées dans l'hôtellerie - Non-résidents - Lot",
       "Arrivées dans l'hôtellerie - Non-résidents - Lot-et-Garonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Lozère",
       "Arrivées dans l'hôtellerie - Non-résidents - Maine-et-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Manche",
       "Arrivées dans l'hôtellerie - Non-résidents - Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Mayenne",
       "Arrivées dans l'hôtellerie - Non-résidents - Meurthe-et-Moselle",
       "Arrivées dans l'hôtellerie - Non-résidents - Meuse",
       "Arrivées dans l'hôtellerie - Non-résidents - Morbihan",
       "Arrivées dans l'hôtellerie - Non-résidents - Moselle",
       "Arrivées dans l'hôtellerie - Non-résidents - Nièvre",
       "Arrivées dans l'hôtellerie - Non-résidents - Nord",
       "Arrivées dans l'hôtellerie - Non-résidents - Oise",
       "Arrivées dans l'hôtellerie - Non-résidents - Orne",
       "Arrivées dans l'hôtellerie - Non-résidents - Pas-de-Calais",
       "Arrivées dans l'hôtellerie - Non-résidents - Puy-de-Dôme",
       "Arrivées dans l'hôtellerie - Non-résidents - Pyrénées-Atlantiques",
       "Arrivées dans l'hôtellerie - Non-résidents - Hautes-Pyrénées",
       "Arrivées dans l'hôtellerie - Non-résidents - Pyrénées-Orientales",
       "Arrivées dans l'hôtellerie - Non-résidents - Bas-Rhin",
       "Arrivées dans l'hôtellerie - Non-résidents - Haut-Rhin",
       "Arrivées dans l'hôtellerie - Non-résidents - Rhône",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Saône",
       "Arrivées dans l'hôtellerie - Non-résidents - Saône-et-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Sarthe",
       "Arrivées dans l'hôtellerie - Non-résidents - Savoie",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Savoie",
       "Arrivées dans l'hôtellerie - Non-résidents - Paris",
       "Arrivées dans l'hôtellerie - Non-résidents - Seine-Maritime",
       "Arrivées dans l'hôtellerie - Non-résidents - Seine-et-Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Yvelines",
       "Arrivées dans l'hôtellerie - Non-résidents - Deux-Sèvres",
       "Arrivées dans l'hôtellerie - Non-résidents - Somme",
       "Arrivées dans l'hôtellerie - Non-résidents - Tarn",
       "Arrivées dans l'hôtellerie - Non-résidents - Tarn-et-Garonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Var",
       "Arrivées dans l'hôtellerie - Non-résidents - Vaucluse",
       "Arrivées dans l'hôtellerie - Non-résidents - Vendée",
       "Arrivées dans l'hôtellerie - Non-résidents - Vienne",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Vienne",
       "Arrivées dans l'hôtellerie - Non-résidents - Vosges",
       "Arrivées dans l'hôtellerie - Non-résidents - Yonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Territoire de Belfort",
       "Arrivées dans l'hôtellerie - Non-résidents - Essonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Hauts-de-Seine",
       "Arrivées dans l'hôtellerie - Non-résidents - Seine-Saint-Denis",
       "Arrivées dans l'hôtellerie - Non-résidents - Val-de-Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Val-d'Oise",
       "Arrivées dans l'hôtellerie - Non-résidents - Guadeloupe",
       "Arrivées dans l'hôtellerie - Non-résidents - Martinique",
       "Arrivées dans l'hôtellerie - Non-résidents - Guyane",
       "Arrivées dans l'hôtellerie - Non-résidents - La Réunion",
       "Arrivées dans l'hôtellerie - Non-résidents - Mayotte",
       "Arrivées dans l'hôtellerie - Non-résidents - Corse",
       "Arrivées dans l'hôtellerie - Résidents - Ain",
       "Arrivées dans l'hôtellerie - Résidents - Aisne",
       "Arrivées dans l'hôtellerie - Résidents - Allier",
       "Arrivées dans l'hôtellerie - Résidents - Alpes-de-Haute-Provence",
       "Arrivées dans l'hôtellerie - Résidents - Hautes-Alpes",
       "Arrivées dans l'hôtellerie - Résidents - Alpes-Maritimes",
       "Arrivées dans l'hôtellerie - Résidents - Ardèche",
       "Arrivées dans l'hôtellerie - Résidents - Ardennes",
       "Arrivées dans l'hôtellerie - Résidents - Ariège",
       "Arrivées dans l'hôtellerie - Résidents - Aube",
       "Arrivées dans l'hôtellerie - Résidents - Aude",
       "Arrivées dans l'hôtellerie - Résidents - Aveyron",
       "Arrivées dans l'hôtellerie - Résidents - Bouches-du-Rhône",
       "Arrivées dans l'hôtellerie - Résidents - Calvados",
       "Arrivées dans l'hôtellerie - Résidents - Cantal",
       "Arrivées dans l'hôtellerie - Résidents - Charente",
       "Arrivées dans l'hôtellerie - Résidents - Charente-Maritime",
       "Arrivées dans l'hôtellerie - Résidents - Cher",
       "Arrivées dans l'hôtellerie - Résidents - Corrèze",
       "Arrivées dans l'hôtellerie - Résidents - Côte-d'Or",
       "Arrivées dans l'hôtellerie - Résidents - Côtes-d'Armor",
       "Arrivées dans l'hôtellerie - Résidents - Creuse",
       "Arrivées dans l'hôtellerie - Résidents - Dordogne",
       "Arrivées dans l'hôtellerie - Résidents - Doubs",
       "Arrivées dans l'hôtellerie - Résidents - Drôme",
       "Arrivées dans l'hôtellerie - Résidents - Eure",
       "Arrivées dans l'hôtellerie - Résidents - Eure-et-Loir",
       "Arrivées dans l'hôtellerie - Résidents - Finistère",
       "Arrivées dans l'hôtellerie - Résidents - Corse-du-Sud",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Corse",
       "Arrivées dans l'hôtellerie - Résidents - Gard",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Garonne",
       "Arrivées dans l'hôtellerie - Résidents - Gers",
       "Arrivées dans l'hôtellerie - Résidents - Gironde",
       "Arrivées dans l'hôtellerie - Résidents - Hérault",
       "Arrivées dans l'hôtellerie - Résidents - Ille-et-Vilaine",
       "Arrivées dans l'hôtellerie - Résidents - Indre",
       "Arrivées dans l'hôtellerie - Résidents - Indre-et-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Isère",
       "Arrivées dans l'hôtellerie - Résidents - Jura",
       "Arrivées dans l'hôtellerie - Résidents - Landes",
       "Arrivées dans l'hôtellerie - Résidents - Loir-et-Cher",
       "Arrivées dans l'hôtellerie - Résidents - Loire",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Loire-Atlantique",
       "Arrivées dans l'hôtellerie - Résidents - Loiret",
       "Arrivées dans l'hôtellerie - Résidents - Lot",
       "Arrivées dans l'hôtellerie - Résidents - Lot-et-Garonne",
       "Arrivées dans l'hôtellerie - Résidents - Lozère",
       "Arrivées dans l'hôtellerie - Résidents - Maine-et-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Manche",
       "Arrivées dans l'hôtellerie - Résidents - Marne",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Marne",
       "Arrivées dans l'hôtellerie - Résidents - Mayenne",
       "Arrivées dans l'hôtellerie - Résidents - Meurthe-et-Moselle",
       "Arrivées dans l'hôtellerie - Résidents - Meuse",
       "Arrivées dans l'hôtellerie - Résidents - Morbihan",
       "Arrivées dans l'hôtellerie - Résidents - Moselle",
       "Arrivées dans l'hôtellerie - Résidents - Nièvre",
       "Arrivées dans l'hôtellerie - Résidents - Nord",
       "Arrivées dans l'hôtellerie - Résidents - Oise",
       "Arrivées dans l'hôtellerie - Résidents - Orne",
       "Arrivées dans l'hôtellerie - Résidents - Pas-de-Calais",
       "Arrivées dans l'hôtellerie - Résidents - Puy-de-Dôme",
       "Arrivées dans l'hôtellerie - Résidents - Pyrénées-Atlantiques",
       "Arrivées dans l'hôtellerie - Résidents - Hautes-Pyrénées",
       "Arrivées dans l'hôtellerie - Résidents - Pyrénées-Orientales",
       "Arrivées dans l'hôtellerie - Résidents - Bas-Rhin",
       "Arrivées dans l'hôtellerie - Résidents - Haut-Rhin",
       "Arrivées dans l'hôtellerie - Résidents - Rhône",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Saône",
       "Arrivées dans l'hôtellerie - Résidents - Saône-et-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Sarthe",
       "Arrivées dans l'hôtellerie - Résidents - Savoie",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Savoie",
       "Arrivées dans l'hôtellerie - Résidents - Paris",
       "Arrivées dans l'hôtellerie - Résidents - Seine-Maritime",
       "Arrivées dans l'hôtellerie - Résidents - Seine-et-Marne",
       "Arrivées dans l'hôtellerie - Résidents - Yvelines",
       "Arrivées dans l'hôtellerie - Résidents - Deux-Sèvres",
       "Arrivées dans l'hôtellerie - Résidents - Somme",
       "Arrivées dans l'hôtellerie - Résidents - Tarn",
       "Arrivées dans l'hôtellerie - Résidents - Tarn-et-Garonne",
       "Arrivées dans l'hôtellerie - Résidents - Var",
       "Arrivées dans l'hôtellerie - Résidents - Vaucluse",
       "Arrivées dans l'hôtellerie - Résidents - Vendée",
       "Arrivées dans l'hôtellerie - Résidents - Vienne",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Vienne",
       "Arrivées dans l'hôtellerie - Résidents - Vosges",
       "Arrivées dans l'hôtellerie - Résidents - Yonne",
       "Arrivées dans l'hôtellerie - Résidents - Territoire de Belfort",
       "Arrivées dans l'hôtellerie - Résidents - Essonne",
       "Arrivées dans l'hôtellerie - Résidents - Hauts-de-Seine",
       "Arrivées dans l'hôtellerie - Résidents - Seine-Saint-Denis",
       "Arrivées dans l'hôtellerie - Résidents - Val-de-Marne",
       "Arrivées dans l'hôtellerie - Résidents - Val-d'Oise",
       "Arrivées dans l'hôtellerie - Résidents - Guadeloupe",
       "Arrivées dans l'hôtellerie - Résidents - Martinique",
       "Arrivées dans l'hôtellerie - Résidents - Guyane",
       "Arrivées dans l'hôtellerie - Résidents - La Réunion",
       "Arrivées dans l'hôtellerie - Résidents - Mayotte",
       "Arrivées dans l'hôtellerie - Résidents - Corse",
       "Nuitées dans l'hôtellerie - Non-résidents - Ain",
       "Nuitées dans l'hôtellerie - Non-résidents - Aisne",
       "Nuitées dans l'hôtellerie - Non-résidents - Allier",
       "Nuitées dans l'hôtellerie - Non-résidents - Alpes-de-Haute-Provence",
       "Nuitées dans l'hôtellerie - Non-résidents - Hautes-Alpes",
       "Nuitées dans l'hôtellerie - Non-résidents - Alpes-Maritimes",
       "Nuitées dans l'hôtellerie - Non-résidents - Ardèche",
       "Nuitées dans l'hôtellerie - Non-résidents - Ardennes",
       "Nuitées dans l'hôtellerie - Non-résidents - Ariège",
       "Nuitées dans l'hôtellerie - Non-résidents - Aube",
       "Nuitées dans l'hôtellerie - Non-résidents - Aude",
       "Nuitées dans l'hôtellerie - Non-résidents - Aveyron",
       "Nuitées dans l'hôtellerie - Non-résidents - Bouches-du-Rhône",
       "Nuitées dans l'hôtellerie - Non-résidents - Calvados",
       "Nuitées dans l'hôtellerie - Non-résidents - Cantal",
       "Nuitées dans l'hôtellerie - Non-résidents - Charente",
       "Nuitées dans l'hôtellerie - Non-résidents - Charente-Maritime",
       "Nuitées dans l'hôtellerie - Non-résidents - Cher",
       "Nuitées dans l'hôtellerie - Non-résidents - Corrèze",
       "Nuitées dans l'hôtellerie - Non-résidents - Côte-d'Or",
       "Nuitées dans l'hôtellerie - Non-résidents - Côtes-d'Armor",
       "Nuitées dans l'hôtellerie - Non-résidents - Creuse",
       "Nuitées dans l'hôtellerie - Non-résidents - Dordogne",
       "Nuitées dans l'hôtellerie - Non-résidents - Doubs",
       "Nuitées dans l'hôtellerie - Non-résidents - Drôme",
       "Nuitées dans l'hôtellerie - Non-résidents - Eure",
       "Nuitées dans l'hôtellerie - Non-résidents - Eure-et-Loir",
       "Nuitées dans l'hôtellerie - Non-résidents - Finistère",
       "Nuitées dans l'hôtellerie - Non-résidents - Corse-du-Sud",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Corse",
       "Nuitées dans l'hôtellerie - Non-résidents - Gard",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Garonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Gers",
       "Nuitées dans l'hôtellerie - Non-résidents - Gironde",
       "Nuitées dans l'hôtellerie - Non-résidents - Hérault",
       "Nuitées dans l'hôtellerie - Non-résidents - Ille-et-Vilaine",
       "Nuitées dans l'hôtellerie - Non-résidents - Indre",
       "Nuitées dans l'hôtellerie - Non-résidents - Indre-et-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Isère",
       "Nuitées dans l'hôtellerie - Non-résidents - Jura",
       "Nuitées dans l'hôtellerie - Non-résidents - Landes",
       "Nuitées dans l'hôtellerie - Non-résidents - Loir-et-Cher",
       "Nuitées dans l'hôtellerie - Non-résidents - Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Loire-Atlantique",
       "Nuitées dans l'hôtellerie - Non-résidents - Loiret",
       "Nuitées dans l'hôtellerie - Non-résidents - Lot",
       "Nuitées dans l'hôtellerie - Non-résidents - Lot-et-Garonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Lozère",
       "Nuitées dans l'hôtellerie - Non-résidents - Maine-et-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Manche",
       "Nuitées dans l'hôtellerie - Non-résidents - Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Mayenne",
       "Nuitées dans l'hôtellerie - Non-résidents - Meurthe-et-Moselle",
       "Nuitées dans l'hôtellerie - Non-résidents - Meuse",
       "Nuitées dans l'hôtellerie - Non-résidents - Morbihan",
       "Nuitées dans l'hôtellerie - Non-résidents - Moselle",
       "Nuitées dans l'hôtellerie - Non-résidents - Nièvre",
       "Nuitées dans l'hôtellerie - Non-résidents - Nord",
       "Nuitées dans l'hôtellerie - Non-résidents - Oise",
       "Nuitées dans l'hôtellerie - Non-résidents - Orne",
       "Nuitées dans l'hôtellerie - Non-résidents - Pas-de-Calais",
       "Nuitées dans l'hôtellerie - Non-résidents - Puy-de-Dôme",
       "Nuitées dans l'hôtellerie - Non-résidents - Pyrénées-Atlantiques",
       "Nuitées dans l'hôtellerie - Non-résidents - Hautes-Pyrénées",
       "Nuitées dans l'hôtellerie - Non-résidents - Pyrénées-Orientales",
       "Nuitées dans l'hôtellerie - Non-résidents - Bas-Rhin",
       "Nuitées dans l'hôtellerie - Non-résidents - Haut-Rhin",
       "Nuitées dans l'hôtellerie - Non-résidents - Rhône",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Saône",
       "Nuitées dans l'hôtellerie - Non-résidents - Saône-et-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Sarthe",
       "Nuitées dans l'hôtellerie - Non-résidents - Savoie",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Savoie",
       "Nuitées dans l'hôtellerie - Non-résidents - Paris",
       "Nuitées dans l'hôtellerie - Non-résidents - Seine-Maritime",
       "Nuitées dans l'hôtellerie - Non-résidents - Seine-et-Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Yvelines",
       "Nuitées dans l'hôtellerie - Non-résidents - Deux-Sèvres",
       "Nuitées dans l'hôtellerie - Non-résidents - Somme",
       "Nuitées dans l'hôtellerie - Non-résidents - Tarn",
       "Nuitées dans l'hôtellerie - Non-résidents - Tarn-et-Garonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Var",
       "Nuitées dans l'hôtellerie - Non-résidents - Vaucluse",
       "Nuitées dans l'hôtellerie - Non-résidents - Vendée",
       "Nuitées dans l'hôtellerie - Non-résidents - Vienne",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Vienne",
       "Nuitées dans l'hôtellerie - Non-résidents - Vosges",
       "Nuitées dans l'hôtellerie - Non-résidents - Yonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Territoire de Belfort",
       "Nuitées dans l'hôtellerie - Non-résidents - Essonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Hauts-de-Seine",
       "Nuitées dans l'hôtellerie - Non-résidents - Seine-Saint-Denis",
       "Nuitées dans l'hôtellerie - Non-résidents - Val-de-Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Val-d'Oise",
       "Nuitées dans l'hôtellerie - Non-résidents - Guadeloupe",
       "Nuitées dans l'hôtellerie - Non-résidents - Martinique",
       "Nuitées dans l'hôtellerie - Non-résidents - Guyane",
       "Nuitées dans l'hôtellerie - Non-résidents - La Réunion",
       "Nuitées dans l'hôtellerie - Non-résidents - Mayotte",
       "Nuitées dans l'hôtellerie - Non-résidents - Corse",

In [8]:
#Suppression de la Corse en gardant les départements
df_mensuel=df_mensuel[(df_mensuel['Libellé'].str.contains("Corse-du-Sud")|df_mensuel['Libellé'].
                       str.contains("Haute-Corse"))|(~df_mensuel['Libellé'].str.contains("Corse"))]

In [9]:
df_mensuel["Libellé"].unique()

array(["Arrivées dans l'hôtellerie - Non-résidents - Ain",
       "Arrivées dans l'hôtellerie - Non-résidents - Aisne",
       "Arrivées dans l'hôtellerie - Non-résidents - Allier",
       "Arrivées dans l'hôtellerie - Non-résidents - Alpes-de-Haute-Provence",
       "Arrivées dans l'hôtellerie - Non-résidents - Hautes-Alpes",
       "Arrivées dans l'hôtellerie - Non-résidents - Alpes-Maritimes",
       "Arrivées dans l'hôtellerie - Non-résidents - Ardèche",
       "Arrivées dans l'hôtellerie - Non-résidents - Ardennes",
       "Arrivées dans l'hôtellerie - Non-résidents - Ariège",
       "Arrivées dans l'hôtellerie - Non-résidents - Aube",
       "Arrivées dans l'hôtellerie - Non-résidents - Aude",
       "Arrivées dans l'hôtellerie - Non-résidents - Aveyron",
       "Arrivées dans l'hôtellerie - Non-résidents - Bouches-du-Rhône",
       "Arrivées dans l'hôtellerie - Non-résidents - Calvados",
       "Arrivées dans l'hôtellerie - Non-résidents - Cantal",
       "Arrivées dans l'hôtellerie - Non-résidents - Charente",
       "Arrivées dans l'hôtellerie - Non-résidents - Charente-Maritime",
       "Arrivées dans l'hôtellerie - Non-résidents - Cher",
       "Arrivées dans l'hôtellerie - Non-résidents - Corrèze",
       "Arrivées dans l'hôtellerie - Non-résidents - Côte-d'Or",
       "Arrivées dans l'hôtellerie - Non-résidents - Côtes-d'Armor",
       "Arrivées dans l'hôtellerie - Non-résidents - Creuse",
       "Arrivées dans l'hôtellerie - Non-résidents - Dordogne",
       "Arrivées dans l'hôtellerie - Non-résidents - Doubs",
       "Arrivées dans l'hôtellerie - Non-résidents - Drôme",
       "Arrivées dans l'hôtellerie - Non-résidents - Eure",
       "Arrivées dans l'hôtellerie - Non-résidents - Eure-et-Loir",
       "Arrivées dans l'hôtellerie - Non-résidents - Finistère",
       "Arrivées dans l'hôtellerie - Non-résidents - Corse-du-Sud",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Corse",
       "Arrivées dans l'hôtellerie - Non-résidents - Gard",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Garonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Gers",
       "Arrivées dans l'hôtellerie - Non-résidents - Gironde",
       "Arrivées dans l'hôtellerie - Non-résidents - Hérault",
       "Arrivées dans l'hôtellerie - Non-résidents - Ille-et-Vilaine",
       "Arrivées dans l'hôtellerie - Non-résidents - Indre",
       "Arrivées dans l'hôtellerie - Non-résidents - Indre-et-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Isère",
       "Arrivées dans l'hôtellerie - Non-résidents - Jura",
       "Arrivées dans l'hôtellerie - Non-résidents - Landes",
       "Arrivées dans l'hôtellerie - Non-résidents - Loir-et-Cher",
       "Arrivées dans l'hôtellerie - Non-résidents - Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Loire-Atlantique",
       "Arrivées dans l'hôtellerie - Non-résidents - Loiret",
       "Arrivées dans l'hôtellerie - Non-résidents - Lot",
       "Arrivées dans l'hôtellerie - Non-résidents - Lot-et-Garonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Lozère",
       "Arrivées dans l'hôtellerie - Non-résidents - Maine-et-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Manche",
       "Arrivées dans l'hôtellerie - Non-résidents - Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Mayenne",
       "Arrivées dans l'hôtellerie - Non-résidents - Meurthe-et-Moselle",
       "Arrivées dans l'hôtellerie - Non-résidents - Meuse",
       "Arrivées dans l'hôtellerie - Non-résidents - Morbihan",
       "Arrivées dans l'hôtellerie - Non-résidents - Moselle",
       "Arrivées dans l'hôtellerie - Non-résidents - Nièvre",
       "Arrivées dans l'hôtellerie - Non-résidents - Nord",
       "Arrivées dans l'hôtellerie - Non-résidents - Oise",
       "Arrivées dans l'hôtellerie - Non-résidents - Orne",
       "Arrivées dans l'hôtellerie - Non-résidents - Pas-de-Calais",
       "Arrivées dans l'hôtellerie - Non-résidents - Puy-de-Dôme",
       "Arrivées dans l'hôtellerie - Non-résidents - Pyrénées-Atlantiques",
       "Arrivées dans l'hôtellerie - Non-résidents - Hautes-Pyrénées",
       "Arrivées dans l'hôtellerie - Non-résidents - Pyrénées-Orientales",
       "Arrivées dans l'hôtellerie - Non-résidents - Bas-Rhin",
       "Arrivées dans l'hôtellerie - Non-résidents - Haut-Rhin",
       "Arrivées dans l'hôtellerie - Non-résidents - Rhône",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Saône",
       "Arrivées dans l'hôtellerie - Non-résidents - Saône-et-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Sarthe",
       "Arrivées dans l'hôtellerie - Non-résidents - Savoie",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Savoie",
       "Arrivées dans l'hôtellerie - Non-résidents - Paris",
       "Arrivées dans l'hôtellerie - Non-résidents - Seine-Maritime",
       "Arrivées dans l'hôtellerie - Non-résidents - Seine-et-Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Yvelines",
       "Arrivées dans l'hôtellerie - Non-résidents - Deux-Sèvres",
       "Arrivées dans l'hôtellerie - Non-résidents - Somme",
       "Arrivées dans l'hôtellerie - Non-résidents - Tarn",
       "Arrivées dans l'hôtellerie - Non-résidents - Tarn-et-Garonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Var",
       "Arrivées dans l'hôtellerie - Non-résidents - Vaucluse",
       "Arrivées dans l'hôtellerie - Non-résidents - Vendée",
       "Arrivées dans l'hôtellerie - Non-résidents - Vienne",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Vienne",
       "Arrivées dans l'hôtellerie - Non-résidents - Vosges",
       "Arrivées dans l'hôtellerie - Non-résidents - Yonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Territoire de Belfort",
       "Arrivées dans l'hôtellerie - Non-résidents - Essonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Hauts-de-Seine",
       "Arrivées dans l'hôtellerie - Non-résidents - Seine-Saint-Denis",
       "Arrivées dans l'hôtellerie - Non-résidents - Val-de-Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Val-d'Oise",
       "Arrivées dans l'hôtellerie - Non-résidents - Guadeloupe",
       "Arrivées dans l'hôtellerie - Non-résidents - Martinique",
       "Arrivées dans l'hôtellerie - Non-résidents - Guyane",
       "Arrivées dans l'hôtellerie - Non-résidents - La Réunion",
       "Arrivées dans l'hôtellerie - Non-résidents - Mayotte",
       "Arrivées dans l'hôtellerie - Résidents - Ain",
       "Arrivées dans l'hôtellerie - Résidents - Aisne",
       "Arrivées dans l'hôtellerie - Résidents - Allier",
       "Arrivées dans l'hôtellerie - Résidents - Alpes-de-Haute-Provence",
       "Arrivées dans l'hôtellerie - Résidents - Hautes-Alpes",
       "Arrivées dans l'hôtellerie - Résidents - Alpes-Maritimes",
       "Arrivées dans l'hôtellerie - Résidents - Ardèche",
       "Arrivées dans l'hôtellerie - Résidents - Ardennes",
       "Arrivées dans l'hôtellerie - Résidents - Ariège",
       "Arrivées dans l'hôtellerie - Résidents - Aube",
       "Arrivées dans l'hôtellerie - Résidents - Aude",
       "Arrivées dans l'hôtellerie - Résidents - Aveyron",
       "Arrivées dans l'hôtellerie - Résidents - Bouches-du-Rhône",
       "Arrivées dans l'hôtellerie - Résidents - Calvados",
       "Arrivées dans l'hôtellerie - Résidents - Cantal",
       "Arrivées dans l'hôtellerie - Résidents - Charente",
       "Arrivées dans l'hôtellerie - Résidents - Charente-Maritime",
       "Arrivées dans l'hôtellerie - Résidents - Cher",
       "Arrivées dans l'hôtellerie - Résidents - Corrèze",
       "Arrivées dans l'hôtellerie - Résidents - Côte-d'Or",
       "Arrivées dans l'hôtellerie - Résidents - Côtes-d'Armor",
       "Arrivées dans l'hôtellerie - Résidents - Creuse",
       "Arrivées dans l'hôtellerie - Résidents - Dordogne",
       "Arrivées dans l'hôtellerie - Résidents - Doubs",
       "Arrivées dans l'hôtellerie - Résidents - Drôme",
       "Arrivées dans l'hôtellerie - Résidents - Eure",
       "Arrivées dans l'hôtellerie - Résidents - Eure-et-Loir",
       "Arrivées dans l'hôtellerie - Résidents - Finistère",
       "Arrivées dans l'hôtellerie - Résidents - Corse-du-Sud",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Corse",
       "Arrivées dans l'hôtellerie - Résidents - Gard",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Garonne",
       "Arrivées dans l'hôtellerie - Résidents - Gers",
       "Arrivées dans l'hôtellerie - Résidents - Gironde",
       "Arrivées dans l'hôtellerie - Résidents - Hérault",
       "Arrivées dans l'hôtellerie - Résidents - Ille-et-Vilaine",
       "Arrivées dans l'hôtellerie - Résidents - Indre",
       "Arrivées dans l'hôtellerie - Résidents - Indre-et-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Isère",
       "Arrivées dans l'hôtellerie - Résidents - Jura",
       "Arrivées dans l'hôtellerie - Résidents - Landes",
       "Arrivées dans l'hôtellerie - Résidents - Loir-et-Cher",
       "Arrivées dans l'hôtellerie - Résidents - Loire",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Loire-Atlantique",
       "Arrivées dans l'hôtellerie - Résidents - Loiret",
       "Arrivées dans l'hôtellerie - Résidents - Lot",
       "Arrivées dans l'hôtellerie - Résidents - Lot-et-Garonne",
       "Arrivées dans l'hôtellerie - Résidents - Lozère",
       "Arrivées dans l'hôtellerie - Résidents - Maine-et-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Manche",
       "Arrivées dans l'hôtellerie - Résidents - Marne",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Marne",
       "Arrivées dans l'hôtellerie - Résidents - Mayenne",
       "Arrivées dans l'hôtellerie - Résidents - Meurthe-et-Moselle",
       "Arrivées dans l'hôtellerie - Résidents - Meuse",
       "Arrivées dans l'hôtellerie - Résidents - Morbihan",
       "Arrivées dans l'hôtellerie - Résidents - Moselle",
       "Arrivées dans l'hôtellerie - Résidents - Nièvre",
       "Arrivées dans l'hôtellerie - Résidents - Nord",
       "Arrivées dans l'hôtellerie - Résidents - Oise",
       "Arrivées dans l'hôtellerie - Résidents - Orne",
       "Arrivées dans l'hôtellerie - Résidents - Pas-de-Calais",
       "Arrivées dans l'hôtellerie - Résidents - Puy-de-Dôme",
       "Arrivées dans l'hôtellerie - Résidents - Pyrénées-Atlantiques",
       "Arrivées dans l'hôtellerie - Résidents - Hautes-Pyrénées",
       "Arrivées dans l'hôtellerie - Résidents - Pyrénées-Orientales",
       "Arrivées dans l'hôtellerie - Résidents - Bas-Rhin",
       "Arrivées dans l'hôtellerie - Résidents - Haut-Rhin",
       "Arrivées dans l'hôtellerie - Résidents - Rhône",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Saône",
       "Arrivées dans l'hôtellerie - Résidents - Saône-et-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Sarthe",
       "Arrivées dans l'hôtellerie - Résidents - Savoie",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Savoie",
       "Arrivées dans l'hôtellerie - Résidents - Paris",
       "Arrivées dans l'hôtellerie - Résidents - Seine-Maritime",
       "Arrivées dans l'hôtellerie - Résidents - Seine-et-Marne",
       "Arrivées dans l'hôtellerie - Résidents - Yvelines",
       "Arrivées dans l'hôtellerie - Résidents - Deux-Sèvres",
       "Arrivées dans l'hôtellerie - Résidents - Somme",
       "Arrivées dans l'hôtellerie - Résidents - Tarn",
       "Arrivées dans l'hôtellerie - Résidents - Tarn-et-Garonne",
       "Arrivées dans l'hôtellerie - Résidents - Var",
       "Arrivées dans l'hôtellerie - Résidents - Vaucluse",
       "Arrivées dans l'hôtellerie - Résidents - Vendée",
       "Arrivées dans l'hôtellerie - Résidents - Vienne",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Vienne",
       "Arrivées dans l'hôtellerie - Résidents - Vosges",
       "Arrivées dans l'hôtellerie - Résidents - Yonne",
       "Arrivées dans l'hôtellerie - Résidents - Territoire de Belfort",
       "Arrivées dans l'hôtellerie - Résidents - Essonne",
       "Arrivées dans l'hôtellerie - Résidents - Hauts-de-Seine",
       "Arrivées dans l'hôtellerie - Résidents - Seine-Saint-Denis",
       "Arrivées dans l'hôtellerie - Résidents - Val-de-Marne",
       "Arrivées dans l'hôtellerie - Résidents - Val-d'Oise",
       "Arrivées dans l'hôtellerie - Résidents - Guadeloupe",
       "Arrivées dans l'hôtellerie - Résidents - Martinique",
       "Arrivées dans l'hôtellerie - Résidents - Guyane",
       "Arrivées dans l'hôtellerie - Résidents - La Réunion",
       "Arrivées dans l'hôtellerie - Résidents - Mayotte",
       "Nuitées dans l'hôtellerie - Non-résidents - Ain",
       "Nuitées dans l'hôtellerie - Non-résidents - Aisne",
       "Nuitées dans l'hôtellerie - Non-résidents - Allier",
       "Nuitées dans l'hôtellerie - Non-résidents - Alpes-de-Haute-Provence",
       "Nuitées dans l'hôtellerie - Non-résidents - Hautes-Alpes",
       "Nuitées dans l'hôtellerie - Non-résidents - Alpes-Maritimes",
       "Nuitées dans l'hôtellerie - Non-résidents - Ardèche",
       "Nuitées dans l'hôtellerie - Non-résidents - Ardennes",
       "Nuitées dans l'hôtellerie - Non-résidents - Ariège",
       "Nuitées dans l'hôtellerie - Non-résidents - Aube",
       "Nuitées dans l'hôtellerie - Non-résidents - Aude",
       "Nuitées dans l'hôtellerie - Non-résidents - Aveyron",
       "Nuitées dans l'hôtellerie - Non-résidents - Bouches-du-Rhône",
       "Nuitées dans l'hôtellerie - Non-résidents - Calvados",
       "Nuitées dans l'hôtellerie - Non-résidents - Cantal",
       "Nuitées dans l'hôtellerie - Non-résidents - Charente",
       "Nuitées dans l'hôtellerie - Non-résidents - Charente-Maritime",
       "Nuitées dans l'hôtellerie - Non-résidents - Cher",
       "Nuitées dans l'hôtellerie - Non-résidents - Corrèze",
       "Nuitées dans l'hôtellerie - Non-résidents - Côte-d'Or",
       "Nuitées dans l'hôtellerie - Non-résidents - Côtes-d'Armor",
       "Nuitées dans l'hôtellerie - Non-résidents - Creuse",
       "Nuitées dans l'hôtellerie - Non-résidents - Dordogne",
       "Nuitées dans l'hôtellerie - Non-résidents - Doubs",
       "Nuitées dans l'hôtellerie - Non-résidents - Drôme",
       "Nuitées dans l'hôtellerie - Non-résidents - Eure",
       "Nuitées dans l'hôtellerie - Non-résidents - Eure-et-Loir",
       "Nuitées dans l'hôtellerie - Non-résidents - Finistère",
       "Nuitées dans l'hôtellerie - Non-résidents - Corse-du-Sud",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Corse",
       "Nuitées dans l'hôtellerie - Non-résidents - Gard",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Garonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Gers",
       "Nuitées dans l'hôtellerie - Non-résidents - Gironde",
       "Nuitées dans l'hôtellerie - Non-résidents - Hérault",
       "Nuitées dans l'hôtellerie - Non-résidents - Ille-et-Vilaine",
       "Nuitées dans l'hôtellerie - Non-résidents - Indre",
       "Nuitées dans l'hôtellerie - Non-résidents - Indre-et-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Isère",
       "Nuitées dans l'hôtellerie - Non-résidents - Jura",
       "Nuitées dans l'hôtellerie - Non-résidents - Landes",
       "Nuitées dans l'hôtellerie - Non-résidents - Loir-et-Cher",
       "Nuitées dans l'hôtellerie - Non-résidents - Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Loire-Atlantique",
       "Nuitées dans l'hôtellerie - Non-résidents - Loiret",
       "Nuitées dans l'hôtellerie - Non-résidents - Lot",
       "Nuitées dans l'hôtellerie - Non-résidents - Lot-et-Garonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Lozère",
       "Nuitées dans l'hôtellerie - Non-résidents - Maine-et-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Manche",
       "Nuitées dans l'hôtellerie - Non-résidents - Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Mayenne",
       "Nuitées dans l'hôtellerie - Non-résidents - Meurthe-et-Moselle",
       "Nuitées dans l'hôtellerie - Non-résidents - Meuse",
       "Nuitées dans l'hôtellerie - Non-résidents - Morbihan",
       "Nuitées dans l'hôtellerie - Non-résidents - Moselle",
       "Nuitées dans l'hôtellerie - Non-résidents - Nièvre",
       "Nuitées dans l'hôtellerie - Non-résidents - Nord",
       "Nuitées dans l'hôtellerie - Non-résidents - Oise",
       "Nuitées dans l'hôtellerie - Non-résidents - Orne",
       "Nuitées dans l'hôtellerie - Non-résidents - Pas-de-Calais",
       "Nuitées dans l'hôtellerie - Non-résidents - Puy-de-Dôme",
       "Nuitées dans l'hôtellerie - Non-résidents - Pyrénées-Atlantiques",
       "Nuitées dans l'hôtellerie - Non-résidents - Hautes-Pyrénées",
       "Nuitées dans l'hôtellerie - Non-résidents - Pyrénées-Orientales",
       "Nuitées dans l'hôtellerie - Non-résidents - Bas-Rhin",
       "Nuitées dans l'hôtellerie - Non-résidents - Haut-Rhin",
       "Nuitées dans l'hôtellerie - Non-résidents - Rhône",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Saône",
       "Nuitées dans l'hôtellerie - Non-résidents - Saône-et-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Sarthe",
       "Nuitées dans l'hôtellerie - Non-résidents - Savoie",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Savoie",
       "Nuitées dans l'hôtellerie - Non-résidents - Paris",
       "Nuitées dans l'hôtellerie - Non-résidents - Seine-Maritime",
       "Nuitées dans l'hôtellerie - Non-résidents - Seine-et-Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Yvelines",
       "Nuitées dans l'hôtellerie - Non-résidents - Deux-Sèvres",
       "Nuitées dans l'hôtellerie - Non-résidents - Somme",
       "Nuitées dans l'hôtellerie - Non-résidents - Tarn",
       "Nuitées dans l'hôtellerie - Non-résidents - Tarn-et-Garonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Var",
       "Nuitées dans l'hôtellerie - Non-résidents - Vaucluse",
       "Nuitées dans l'hôtellerie - Non-résidents - Vendée",
       "Nuitées dans l'hôtellerie - Non-résidents - Vienne",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Vienne",
       "Nuitées dans l'hôtellerie - Non-résidents - Vosges",
       "Nuitées dans l'hôtellerie - Non-résidents - Yonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Territoire de Belfort",
       "Nuitées dans l'hôtellerie - Non-résidents - Essonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Hauts-de-Seine",
       "Nuitées dans l'hôtellerie - Non-résidents - Seine-Saint-Denis",
       "Nuitées dans l'hôtellerie - Non-résidents - Val-de-Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Val-d'Oise",
       "Nuitées dans l'hôtellerie - Non-résidents - Guadeloupe",
       "Nuitées dans l'hôtellerie - Non-résidents - Martinique",
       "Nuitées dans l'hôtellerie - Non-résidents - Guyane",
       "Nuitées dans l'hôtellerie - Non-résidents - La Réunion",
       "Nuitées dans l'hôtellerie - Non-résidents - Mayotte",
       "Nuitées dans l'hôtellerie - Résidents - Ain",
       "Nuitées dans l'hôtellerie - Résidents - Aisne",
       "Nuitées dans l'hôtellerie - Résidents - Allier",
       "Nuitées dans l'hôtellerie - Résidents - Alpes-de-Haute-Provence",
       "Nuitées dans l'hôtellerie - Résidents - Hautes-Alpes",
       "Nuitées dans l'hôtellerie - Résidents - Alpes-Maritimes",
       "Nuitées dans l'hôtellerie - Résidents - Ardèche",
       "Nuitées dans l'hôtellerie - Résidents - Ardennes",
       "Nuitées dans l'hôtellerie - Résidents - Ariège",
       "Nuitées dans l'hôtellerie - Résidents - Aube",
       "Nuitées dans l'hôtellerie - Résidents - Aude",
       "Nuitées dans l'hôtellerie - Résidents - Aveyron",
       "Nuitées dans l'hôtellerie - Résidents - Bouches-du-Rhône",

In [10]:
df_mensuel.sample(50)

,Libellé,idBank,Dernière mise à jour,Période,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
2342,Taux d'occupation dans l'hôtellerie - Rhône,10598999.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,47.4,48.0,46.9,37.7,NaN,NaN
1058,Arrivées dans l'hôtellerie - Non-résidents - B...,10599339.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,48.46,53.12,28.18,17.03,NaN,NaN
2046,Nuitées dans l'hôtellerie - Résidents - Maine-...,10599235.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,104.82,127.73,98.02,86.96,NaN,NaN
2040,Nuitées dans l'hôtellerie - Résidents - Lot,10599217.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.35,99.41,57.76,33.45,NaN,NaN
1016,Arrivées dans l'hôtellerie - Non-résidents - Lot,10599213.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.78,4.49,2.35,0.68,NaN,NaN
1966,Nuitées dans l'hôtellerie - Résidents - Aube,10598888.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,55.29,70.34,42.94,42.0,NaN,NaN
2082,Nuitées dans l'hôtellerie - Résidents - Bas-Rhin,10598659.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,145,176,167,150,NaN,NaN
1992,Nuitées dans l'hôtellerie - Résidents - Dordogne,10599067.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,114.76,172.11,87.93,58.53,NaN,NaN
2254,Taux d'occupation dans l'hôtellerie - Eure,10598923.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,42.1,46.8,47.0,42.6,NaN,NaN
988,Arrivées dans l'hôtellerie - Non-résidents - Gers,10599129.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.49,0.43,0.62,0.42,NaN,NaN
1226,Arrivées dans l'hôtellerie - Résidents - Doubs,10599070.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,48.22,52.68,45.48,38.53,NaN,NaN
2318,Taux d'occupation dans l'hôtellerie - Moselle,10598987.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,49.9,48.4,51.5,45.4,NaN,NaN
1852,Nuitées dans l'hôtellerie - Non-résidents - Somme,10598736.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19.15,17.33,9.01,3.58,NaN,NaN
1368,Arrivées dans l'hôtellerie - Résidents - Val-d...,10598852.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,49.86,54.08,64.02,59.11,NaN,NaN
2292,Taux d'occupation dans l'hôtellerie - Loire-At...,10598974.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57.3,64.5,55.8,49.2,NaN,NaN
1280,Arrivées dans l'hôtellerie - Résidents - Manche,10599238.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.58,86.22,57.59,46.37,NaN,NaN
982,Arrivées dans l'hôtellerie - Non-résidents - H...,10599111.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.32,16.43,6.8,1.54,NaN,NaN
1802,Nuitées dans l'hôtellerie - Non-résidents - Meuse,10599270.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.03,4.01,3.05,0.96,NaN,NaN
1740,Nuitées dans l'hôtellerie - Non-résidents - Drôme,10599078.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,34.78,30.8,12.84,8.19,NaN,NaN
1244,Arrivées dans l'hôtellerie - Résidents - Gers,10599130.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.33,12.76,11.42,8.29,NaN,NaN
2388,Taux d'occupation dans l'hôtellerie - Hauts-de...,10599056.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,32.8,27.0,29.7,25.9,NaN,NaN
1870,Nuitées dans l'hôtellerie - Non-résidents - Yonne,10598790.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.87,10.34,6.7,3.02,NaN,NaN
2004,Nuitées dans l'hôtellerie - Résidents - Corse-...,10599109.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,199.44,314.75,227.8,102.69,NaN,NaN
1978,Nuitées dans l'hôtellerie - Résidents - Charente,10598963.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,37.46,51.53,35.76,31.48,NaN,NaN
2304,Taux d'occupation dans l'hôtellerie - Manche,10598980.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,62.9,73.0,56.3,44.6,NaN,NaN
1266,Arrivées dans l'hôtellerie - Résidents - Haute...,10599196.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,26.17,36.68,25.35,12.88,NaN,NaN
1744,Nuitées dans l'hôtellerie - Non-résidents - Eu...,10599090.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.56,14.38,5.85,3.16,NaN,NaN
998,Arrivées dans l'hôtellerie - Non-résidents - I...,10599159.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,23.03,21.4,8.48,3.44,NaN,NaN
1046,Arrivées dans l'hôtellerie - Non-résidents - Orne,10599303.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.27,2.29,1.29,0.6,NaN,NaN
2274,Taux d'occupation dans l'hôtellerie - Ille-et-...,10598931.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,61.4,67.7,57.2,49.5,NaN,NaN
928,Arrivées dans l'hôtellerie - Non-résidents - A...,10598808.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.18,6.47,3.18,1.65,NaN,NaN
1304,Arrivées dans l'hôtellerie - Résidents - Pas-d...,10599310.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,91.3,96.54,80.85,72.18,NaN,NaN
1736,Nuitées dans l'hôtellerie - Non-résidents - Do...,10599066.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19.7,19.8,9.1,3.4,NaN,NaN
2048,Nuitées dans l'hôtellerie - Résidents - Manche,10599241.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,107.34,140.11,89.65,72.02,NaN,NaN
1818,Nuitées dans l'hôtellerie - Non-résidents - Pu...,10599318.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20.71,19.92,8.19,5.78,NaN,NaN
2114,Nuitées dans l'hôtellerie - Résidents - Var,10598755.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,394.64,538.49,297.73,171.19,NaN,NaN
2042,Nuitées dans l'hôtellerie - Résidents - Lot-et...,10599223.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,29.3,43.31,29.27,24.83,NaN,NaN
1952,Nuitées dans l'hôtellerie - Résidents - Allier,10598812.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,75.89,104.74,65.71,55.37,NaN,NaN
1252,Arrivées dans l'hôtellerie - Résidents - Indre,10599154.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22.19,26.41,19.14,17.3,NaN,NaN
1772,Nuitées dans l'hôtellerie - Non-résidents - La...,10599180.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.52,14.38,7.75,2.79,NaN,NaN
2354,Taux d'occupation dans l'hôtellerie - Paris,10599005.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,37.4,31.1,28.1,23.9,NaN,NaN
2408,Taux d'occupation dans l'hôtellerie - La Réunion,10599349.0,19/04/2021 15:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,28.1,27.0,30.7,54.0,56.1,41.6,61.0,42.2,57.4
1070,Arrivées dans l'hôtellerie - Non-résidents - S...,10598691.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14.5,14.48,6.55,2.51,NaN,NaN
2406,Taux d'occupation dans l'hôtellerie - Guyane,10599348.0,19/04/2021 15:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,35.1,23.1,31.0,39.4,40.9,40.7,44.2,44.0,53.8
948,Arrivées dans l'hôtellerie - Non-résidents - B...,10598941.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,55.08,49.56,16.42,9.67,NaN,NaN
2062,Nuitées dans l'hôtellerie - Résidents - Moselle,10599283.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,82.88,89.74,96.65,92.79,NaN,NaN
1782,Nuitées dans l'hôtellerie - Non-résidents - Lo...,10599210.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,37.04,30.73,8.82,5.11,NaN,NaN
1788,Nuitées dans l'hôtellerie - Non-résidents - Lo...,10599228.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.25,3.28,2.29,0.46,NaN,NaN
1820,Nuitées dans l'hôtellerie - Non-résidents - Py...,10599324.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,33.58,38.51,19.34,10.36,NaN,NaN
2136,Nuitées dans l'hôtellerie - Résidents - Val-de...,10598855.0,14/04/2021 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,91.98,101.31,115.9,107.97,NaN,NaN

## A présent, pour rendre notre dataframe plus facile à manipuler, nous allons:

- Dans le libellé, éclater le nom du département dans une autre colonne
- Créer une colonne catégorie pour distinguer les Résidents et les non résidents
-

In [11]:
#affichage des élements après celui d'indice 4 jusqu'au dernier - sur la colonne
df_mensuel.columns[4:]

Index(['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10',
       ...
       '2020-03', '2020-04', '2020-05', '2020-06', '2020-07', '2020-08',
       '2020-09', '2020-10', '2020-11', '2020-12'],
      dtype='object', length=132)

In [12]:
#Pour créer la colonne variable qui contient toutes les années et mois, nous allons utiliser la méthode melt. 
#Nous allons prendre toutes les colonnes qui se trouvent après le 4ème élement jusqu'au dernier.

df_mensuel=pd.melt(df_mensuel, id_vars ='Libellé', value_vars =df_mensuel.columns[4:])

In [13]:
#De la colonne Libellé, nous allons extraire les informations de département pour les mettre dans une colonne
df_mensuel['Libellé'] = df_mensuel['Libellé'].str.replace("- Série arrêtée","")
df_mensuel['Departement'] = df_mensuel['Libellé'].apply(lambda x: x.split(' - ')[-1])
df_mensuel['Departement']

0                            Ain
1                          Aisne
2                         Allier
3        Alpes-de-Haute-Provence
4                   Hautes-Alpes
                  ...
66655                 Guadeloupe
66656                 Martinique
66657                     Guyane
66658                 La Réunion
66659                    Mayotte
Name: Departement, Length: 66660, dtype: object

In [14]:
df_mensuel['Departement'].unique()

array(['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence',
       'Hautes-Alpes', 'Alpes-Maritimes', 'Ardèche', 'Ardennes', 'Ariège',
       'Aube', 'Aude', 'Aveyron', 'Bouches-du-Rhône', 'Calvados',
       'Cantal', 'Charente', 'Charente-Maritime', 'Cher', 'Corrèze',
       "Côte-d'Or", "Côtes-d'Armor", 'Creuse', 'Dordogne', 'Doubs',
       'Drôme', 'Eure', 'Eure-et-Loir', 'Finistère', 'Corse-du-Sud',
       'Haute-Corse', 'Gard', 'Haute-Garonne', 'Gers', 'Gironde',
       'Hérault', 'Ille-et-Vilaine', 'Indre', 'Indre-et-Loire', 'Isère',
       'Jura', 'Landes', 'Loir-et-Cher', 'Loire', 'Haute-Loire',
       'Loire-Atlantique', 'Loiret', 'Lot', 'Lot-et-Garonne', 'Lozère',
       'Maine-et-Loire', 'Manche', 'Marne', 'Haute-Marne', 'Mayenne',
       'Meurthe-et-Moselle', 'Meuse', 'Morbihan', 'Moselle', 'Nièvre',
       'Nord', 'Oise', 'Orne', 'Pas-de-Calais', 'Puy-de-Dôme',
       'Pyrénées-Atlantiques', 'Hautes-Pyrénées', 'Pyrénées-Orientales',
       'Bas-Rhin', 'Haut-Rhin', 'Rhône', 'Haute-Saône', 'Saône-et-Loire',
       'Sarthe', 'Savoie', 'Haute-Savoie', 'Paris', 'Seine-Maritime',
       'Seine-et-Marne', 'Yvelines', 'Deux-Sèvres', 'Somme', 'Tarn',
       'Tarn-et-Garonne', 'Var', 'Vaucluse', 'Vendée', 'Vienne',
       'Haute-Vienne', 'Vosges', 'Yonne', 'Territoire de Belfort',
       'Essonne', 'Hauts-de-Seine', 'Seine-Saint-Denis', 'Val-de-Marne',
       "Val-d'Oise", 'Guadeloupe', 'Martinique', 'Guyane', 'La Réunion',
       'Mayotte'], dtype=object)

In [15]:
#création d'une colonne type qui contiendra les indicateurs
df_mensuel['Type'] = df_mensuel['Libellé'].apply(lambda x: x.split('-')[0])
df_mensuel['Type']

0                 Arrivées dans l'hôtellerie
1                 Arrivées dans l'hôtellerie
2                 Arrivées dans l'hôtellerie
3                 Arrivées dans l'hôtellerie
4                 Arrivées dans l'hôtellerie
                         ...
66655    Taux d'occupation dans l'hôtellerie
66656    Taux d'occupation dans l'hôtellerie
66657    Taux d'occupation dans l'hôtellerie
66658    Taux d'occupation dans l'hôtellerie
66659    Taux d'occupation dans l'hôtellerie
Name: Type, Length: 66660, dtype: object

In [16]:
df_mensuel['Libellé'].unique()

array(["Arrivées dans l'hôtellerie - Non-résidents - Ain",
       "Arrivées dans l'hôtellerie - Non-résidents - Aisne",
       "Arrivées dans l'hôtellerie - Non-résidents - Allier",
       "Arrivées dans l'hôtellerie - Non-résidents - Alpes-de-Haute-Provence",
       "Arrivées dans l'hôtellerie - Non-résidents - Hautes-Alpes",
       "Arrivées dans l'hôtellerie - Non-résidents - Alpes-Maritimes",
       "Arrivées dans l'hôtellerie - Non-résidents - Ardèche",
       "Arrivées dans l'hôtellerie - Non-résidents - Ardennes",
       "Arrivées dans l'hôtellerie - Non-résidents - Ariège",
       "Arrivées dans l'hôtellerie - Non-résidents - Aube",
       "Arrivées dans l'hôtellerie - Non-résidents - Aude",
       "Arrivées dans l'hôtellerie - Non-résidents - Aveyron",
       "Arrivées dans l'hôtellerie - Non-résidents - Bouches-du-Rhône",
       "Arrivées dans l'hôtellerie - Non-résidents - Calvados",
       "Arrivées dans l'hôtellerie - Non-résidents - Cantal",
       "Arrivées dans l'hôtellerie - Non-résidents - Charente",
       "Arrivées dans l'hôtellerie - Non-résidents - Charente-Maritime",
       "Arrivées dans l'hôtellerie - Non-résidents - Cher",
       "Arrivées dans l'hôtellerie - Non-résidents - Corrèze",
       "Arrivées dans l'hôtellerie - Non-résidents - Côte-d'Or",
       "Arrivées dans l'hôtellerie - Non-résidents - Côtes-d'Armor",
       "Arrivées dans l'hôtellerie - Non-résidents - Creuse",
       "Arrivées dans l'hôtellerie - Non-résidents - Dordogne",
       "Arrivées dans l'hôtellerie - Non-résidents - Doubs",
       "Arrivées dans l'hôtellerie - Non-résidents - Drôme",
       "Arrivées dans l'hôtellerie - Non-résidents - Eure",
       "Arrivées dans l'hôtellerie - Non-résidents - Eure-et-Loir",
       "Arrivées dans l'hôtellerie - Non-résidents - Finistère",
       "Arrivées dans l'hôtellerie - Non-résidents - Corse-du-Sud",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Corse",
       "Arrivées dans l'hôtellerie - Non-résidents - Gard",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Garonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Gers",
       "Arrivées dans l'hôtellerie - Non-résidents - Gironde",
       "Arrivées dans l'hôtellerie - Non-résidents - Hérault",
       "Arrivées dans l'hôtellerie - Non-résidents - Ille-et-Vilaine",
       "Arrivées dans l'hôtellerie - Non-résidents - Indre",
       "Arrivées dans l'hôtellerie - Non-résidents - Indre-et-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Isère",
       "Arrivées dans l'hôtellerie - Non-résidents - Jura",
       "Arrivées dans l'hôtellerie - Non-résidents - Landes",
       "Arrivées dans l'hôtellerie - Non-résidents - Loir-et-Cher",
       "Arrivées dans l'hôtellerie - Non-résidents - Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Loire-Atlantique",
       "Arrivées dans l'hôtellerie - Non-résidents - Loiret",
       "Arrivées dans l'hôtellerie - Non-résidents - Lot",
       "Arrivées dans l'hôtellerie - Non-résidents - Lot-et-Garonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Lozère",
       "Arrivées dans l'hôtellerie - Non-résidents - Maine-et-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Manche",
       "Arrivées dans l'hôtellerie - Non-résidents - Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Mayenne",
       "Arrivées dans l'hôtellerie - Non-résidents - Meurthe-et-Moselle",
       "Arrivées dans l'hôtellerie - Non-résidents - Meuse",
       "Arrivées dans l'hôtellerie - Non-résidents - Morbihan",
       "Arrivées dans l'hôtellerie - Non-résidents - Moselle",
       "Arrivées dans l'hôtellerie - Non-résidents - Nièvre",
       "Arrivées dans l'hôtellerie - Non-résidents - Nord",
       "Arrivées dans l'hôtellerie - Non-résidents - Oise",
       "Arrivées dans l'hôtellerie - Non-résidents - Orne",
       "Arrivées dans l'hôtellerie - Non-résidents - Pas-de-Calais",
       "Arrivées dans l'hôtellerie - Non-résidents - Puy-de-Dôme",
       "Arrivées dans l'hôtellerie - Non-résidents - Pyrénées-Atlantiques",
       "Arrivées dans l'hôtellerie - Non-résidents - Hautes-Pyrénées",
       "Arrivées dans l'hôtellerie - Non-résidents - Pyrénées-Orientales",
       "Arrivées dans l'hôtellerie - Non-résidents - Bas-Rhin",
       "Arrivées dans l'hôtellerie - Non-résidents - Haut-Rhin",
       "Arrivées dans l'hôtellerie - Non-résidents - Rhône",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Saône",
       "Arrivées dans l'hôtellerie - Non-résidents - Saône-et-Loire",
       "Arrivées dans l'hôtellerie - Non-résidents - Sarthe",
       "Arrivées dans l'hôtellerie - Non-résidents - Savoie",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Savoie",
       "Arrivées dans l'hôtellerie - Non-résidents - Paris",
       "Arrivées dans l'hôtellerie - Non-résidents - Seine-Maritime",
       "Arrivées dans l'hôtellerie - Non-résidents - Seine-et-Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Yvelines",
       "Arrivées dans l'hôtellerie - Non-résidents - Deux-Sèvres",
       "Arrivées dans l'hôtellerie - Non-résidents - Somme",
       "Arrivées dans l'hôtellerie - Non-résidents - Tarn",
       "Arrivées dans l'hôtellerie - Non-résidents - Tarn-et-Garonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Var",
       "Arrivées dans l'hôtellerie - Non-résidents - Vaucluse",
       "Arrivées dans l'hôtellerie - Non-résidents - Vendée",
       "Arrivées dans l'hôtellerie - Non-résidents - Vienne",
       "Arrivées dans l'hôtellerie - Non-résidents - Haute-Vienne",
       "Arrivées dans l'hôtellerie - Non-résidents - Vosges",
       "Arrivées dans l'hôtellerie - Non-résidents - Yonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Territoire de Belfort",
       "Arrivées dans l'hôtellerie - Non-résidents - Essonne",
       "Arrivées dans l'hôtellerie - Non-résidents - Hauts-de-Seine",
       "Arrivées dans l'hôtellerie - Non-résidents - Seine-Saint-Denis",
       "Arrivées dans l'hôtellerie - Non-résidents - Val-de-Marne",
       "Arrivées dans l'hôtellerie - Non-résidents - Val-d'Oise",
       "Arrivées dans l'hôtellerie - Non-résidents - Guadeloupe",
       "Arrivées dans l'hôtellerie - Non-résidents - Martinique",
       "Arrivées dans l'hôtellerie - Non-résidents - Guyane",
       "Arrivées dans l'hôtellerie - Non-résidents - La Réunion",
       "Arrivées dans l'hôtellerie - Non-résidents - Mayotte",
       "Arrivées dans l'hôtellerie - Résidents - Ain",
       "Arrivées dans l'hôtellerie - Résidents - Aisne",
       "Arrivées dans l'hôtellerie - Résidents - Allier",
       "Arrivées dans l'hôtellerie - Résidents - Alpes-de-Haute-Provence",
       "Arrivées dans l'hôtellerie - Résidents - Hautes-Alpes",
       "Arrivées dans l'hôtellerie - Résidents - Alpes-Maritimes",
       "Arrivées dans l'hôtellerie - Résidents - Ardèche",
       "Arrivées dans l'hôtellerie - Résidents - Ardennes",
       "Arrivées dans l'hôtellerie - Résidents - Ariège",
       "Arrivées dans l'hôtellerie - Résidents - Aube",
       "Arrivées dans l'hôtellerie - Résidents - Aude",
       "Arrivées dans l'hôtellerie - Résidents - Aveyron",
       "Arrivées dans l'hôtellerie - Résidents - Bouches-du-Rhône",
       "Arrivées dans l'hôtellerie - Résidents - Calvados",
       "Arrivées dans l'hôtellerie - Résidents - Cantal",
       "Arrivées dans l'hôtellerie - Résidents - Charente",
       "Arrivées dans l'hôtellerie - Résidents - Charente-Maritime",
       "Arrivées dans l'hôtellerie - Résidents - Cher",
       "Arrivées dans l'hôtellerie - Résidents - Corrèze",
       "Arrivées dans l'hôtellerie - Résidents - Côte-d'Or",
       "Arrivées dans l'hôtellerie - Résidents - Côtes-d'Armor",
       "Arrivées dans l'hôtellerie - Résidents - Creuse",
       "Arrivées dans l'hôtellerie - Résidents - Dordogne",
       "Arrivées dans l'hôtellerie - Résidents - Doubs",
       "Arrivées dans l'hôtellerie - Résidents - Drôme",
       "Arrivées dans l'hôtellerie - Résidents - Eure",
       "Arrivées dans l'hôtellerie - Résidents - Eure-et-Loir",
       "Arrivées dans l'hôtellerie - Résidents - Finistère",
       "Arrivées dans l'hôtellerie - Résidents - Corse-du-Sud",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Corse",
       "Arrivées dans l'hôtellerie - Résidents - Gard",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Garonne",
       "Arrivées dans l'hôtellerie - Résidents - Gers",
       "Arrivées dans l'hôtellerie - Résidents - Gironde",
       "Arrivées dans l'hôtellerie - Résidents - Hérault",
       "Arrivées dans l'hôtellerie - Résidents - Ille-et-Vilaine",
       "Arrivées dans l'hôtellerie - Résidents - Indre",
       "Arrivées dans l'hôtellerie - Résidents - Indre-et-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Isère",
       "Arrivées dans l'hôtellerie - Résidents - Jura",
       "Arrivées dans l'hôtellerie - Résidents - Landes",
       "Arrivées dans l'hôtellerie - Résidents - Loir-et-Cher",
       "Arrivées dans l'hôtellerie - Résidents - Loire",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Loire-Atlantique",
       "Arrivées dans l'hôtellerie - Résidents - Loiret",
       "Arrivées dans l'hôtellerie - Résidents - Lot",
       "Arrivées dans l'hôtellerie - Résidents - Lot-et-Garonne",
       "Arrivées dans l'hôtellerie - Résidents - Lozère",
       "Arrivées dans l'hôtellerie - Résidents - Maine-et-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Manche",
       "Arrivées dans l'hôtellerie - Résidents - Marne",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Marne",
       "Arrivées dans l'hôtellerie - Résidents - Mayenne",
       "Arrivées dans l'hôtellerie - Résidents - Meurthe-et-Moselle",
       "Arrivées dans l'hôtellerie - Résidents - Meuse",
       "Arrivées dans l'hôtellerie - Résidents - Morbihan",
       "Arrivées dans l'hôtellerie - Résidents - Moselle",
       "Arrivées dans l'hôtellerie - Résidents - Nièvre",
       "Arrivées dans l'hôtellerie - Résidents - Nord",
       "Arrivées dans l'hôtellerie - Résidents - Oise",
       "Arrivées dans l'hôtellerie - Résidents - Orne",
       "Arrivées dans l'hôtellerie - Résidents - Pas-de-Calais",
       "Arrivées dans l'hôtellerie - Résidents - Puy-de-Dôme",
       "Arrivées dans l'hôtellerie - Résidents - Pyrénées-Atlantiques",
       "Arrivées dans l'hôtellerie - Résidents - Hautes-Pyrénées",
       "Arrivées dans l'hôtellerie - Résidents - Pyrénées-Orientales",
       "Arrivées dans l'hôtellerie - Résidents - Bas-Rhin",
       "Arrivées dans l'hôtellerie - Résidents - Haut-Rhin",
       "Arrivées dans l'hôtellerie - Résidents - Rhône",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Saône",
       "Arrivées dans l'hôtellerie - Résidents - Saône-et-Loire",
       "Arrivées dans l'hôtellerie - Résidents - Sarthe",
       "Arrivées dans l'hôtellerie - Résidents - Savoie",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Savoie",
       "Arrivées dans l'hôtellerie - Résidents - Paris",
       "Arrivées dans l'hôtellerie - Résidents - Seine-Maritime",
       "Arrivées dans l'hôtellerie - Résidents - Seine-et-Marne",
       "Arrivées dans l'hôtellerie - Résidents - Yvelines",
       "Arrivées dans l'hôtellerie - Résidents - Deux-Sèvres",
       "Arrivées dans l'hôtellerie - Résidents - Somme",
       "Arrivées dans l'hôtellerie - Résidents - Tarn",
       "Arrivées dans l'hôtellerie - Résidents - Tarn-et-Garonne",
       "Arrivées dans l'hôtellerie - Résidents - Var",
       "Arrivées dans l'hôtellerie - Résidents - Vaucluse",
       "Arrivées dans l'hôtellerie - Résidents - Vendée",
       "Arrivées dans l'hôtellerie - Résidents - Vienne",
       "Arrivées dans l'hôtellerie - Résidents - Haute-Vienne",
       "Arrivées dans l'hôtellerie - Résidents - Vosges",
       "Arrivées dans l'hôtellerie - Résidents - Yonne",
       "Arrivées dans l'hôtellerie - Résidents - Territoire de Belfort",
       "Arrivées dans l'hôtellerie - Résidents - Essonne",
       "Arrivées dans l'hôtellerie - Résidents - Hauts-de-Seine",
       "Arrivées dans l'hôtellerie - Résidents - Seine-Saint-Denis",
       "Arrivées dans l'hôtellerie - Résidents - Val-de-Marne",
       "Arrivées dans l'hôtellerie - Résidents - Val-d'Oise",
       "Arrivées dans l'hôtellerie - Résidents - Guadeloupe",
       "Arrivées dans l'hôtellerie - Résidents - Martinique",
       "Arrivées dans l'hôtellerie - Résidents - Guyane",
       "Arrivées dans l'hôtellerie - Résidents - La Réunion",
       "Arrivées dans l'hôtellerie - Résidents - Mayotte",
       "Nuitées dans l'hôtellerie - Non-résidents - Ain",
       "Nuitées dans l'hôtellerie - Non-résidents - Aisne",
       "Nuitées dans l'hôtellerie - Non-résidents - Allier",
       "Nuitées dans l'hôtellerie - Non-résidents - Alpes-de-Haute-Provence",
       "Nuitées dans l'hôtellerie - Non-résidents - Hautes-Alpes",
       "Nuitées dans l'hôtellerie - Non-résidents - Alpes-Maritimes",
       "Nuitées dans l'hôtellerie - Non-résidents - Ardèche",
       "Nuitées dans l'hôtellerie - Non-résidents - Ardennes",
       "Nuitées dans l'hôtellerie - Non-résidents - Ariège",
       "Nuitées dans l'hôtellerie - Non-résidents - Aube",
       "Nuitées dans l'hôtellerie - Non-résidents - Aude",
       "Nuitées dans l'hôtellerie - Non-résidents - Aveyron",
       "Nuitées dans l'hôtellerie - Non-résidents - Bouches-du-Rhône",
       "Nuitées dans l'hôtellerie - Non-résidents - Calvados",
       "Nuitées dans l'hôtellerie - Non-résidents - Cantal",
       "Nuitées dans l'hôtellerie - Non-résidents - Charente",
       "Nuitées dans l'hôtellerie - Non-résidents - Charente-Maritime",
       "Nuitées dans l'hôtellerie - Non-résidents - Cher",
       "Nuitées dans l'hôtellerie - Non-résidents - Corrèze",
       "Nuitées dans l'hôtellerie - Non-résidents - Côte-d'Or",
       "Nuitées dans l'hôtellerie - Non-résidents - Côtes-d'Armor",
       "Nuitées dans l'hôtellerie - Non-résidents - Creuse",
       "Nuitées dans l'hôtellerie - Non-résidents - Dordogne",
       "Nuitées dans l'hôtellerie - Non-résidents - Doubs",
       "Nuitées dans l'hôtellerie - Non-résidents - Drôme",
       "Nuitées dans l'hôtellerie - Non-résidents - Eure",
       "Nuitées dans l'hôtellerie - Non-résidents - Eure-et-Loir",
       "Nuitées dans l'hôtellerie - Non-résidents - Finistère",
       "Nuitées dans l'hôtellerie - Non-résidents - Corse-du-Sud",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Corse",
       "Nuitées dans l'hôtellerie - Non-résidents - Gard",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Garonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Gers",
       "Nuitées dans l'hôtellerie - Non-résidents - Gironde",
       "Nuitées dans l'hôtellerie - Non-résidents - Hérault",
       "Nuitées dans l'hôtellerie - Non-résidents - Ille-et-Vilaine",
       "Nuitées dans l'hôtellerie - Non-résidents - Indre",
       "Nuitées dans l'hôtellerie - Non-résidents - Indre-et-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Isère",
       "Nuitées dans l'hôtellerie - Non-résidents - Jura",
       "Nuitées dans l'hôtellerie - Non-résidents - Landes",
       "Nuitées dans l'hôtellerie - Non-résidents - Loir-et-Cher",
       "Nuitées dans l'hôtellerie - Non-résidents - Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Loire-Atlantique",
       "Nuitées dans l'hôtellerie - Non-résidents - Loiret",
       "Nuitées dans l'hôtellerie - Non-résidents - Lot",
       "Nuitées dans l'hôtellerie - Non-résidents - Lot-et-Garonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Lozère",
       "Nuitées dans l'hôtellerie - Non-résidents - Maine-et-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Manche",
       "Nuitées dans l'hôtellerie - Non-résidents - Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Mayenne",
       "Nuitées dans l'hôtellerie - Non-résidents - Meurthe-et-Moselle",
       "Nuitées dans l'hôtellerie - Non-résidents - Meuse",
       "Nuitées dans l'hôtellerie - Non-résidents - Morbihan",
       "Nuitées dans l'hôtellerie - Non-résidents - Moselle",
       "Nuitées dans l'hôtellerie - Non-résidents - Nièvre",
       "Nuitées dans l'hôtellerie - Non-résidents - Nord",
       "Nuitées dans l'hôtellerie - Non-résidents - Oise",
       "Nuitées dans l'hôtellerie - Non-résidents - Orne",
       "Nuitées dans l'hôtellerie - Non-résidents - Pas-de-Calais",
       "Nuitées dans l'hôtellerie - Non-résidents - Puy-de-Dôme",
       "Nuitées dans l'hôtellerie - Non-résidents - Pyrénées-Atlantiques",
       "Nuitées dans l'hôtellerie - Non-résidents - Hautes-Pyrénées",
       "Nuitées dans l'hôtellerie - Non-résidents - Pyrénées-Orientales",
       "Nuitées dans l'hôtellerie - Non-résidents - Bas-Rhin",
       "Nuitées dans l'hôtellerie - Non-résidents - Haut-Rhin",
       "Nuitées dans l'hôtellerie - Non-résidents - Rhône",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Saône",
       "Nuitées dans l'hôtellerie - Non-résidents - Saône-et-Loire",
       "Nuitées dans l'hôtellerie - Non-résidents - Sarthe",
       "Nuitées dans l'hôtellerie - Non-résidents - Savoie",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Savoie",
       "Nuitées dans l'hôtellerie - Non-résidents - Paris",
       "Nuitées dans l'hôtellerie - Non-résidents - Seine-Maritime",
       "Nuitées dans l'hôtellerie - Non-résidents - Seine-et-Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Yvelines",
       "Nuitées dans l'hôtellerie - Non-résidents - Deux-Sèvres",
       "Nuitées dans l'hôtellerie - Non-résidents - Somme",
       "Nuitées dans l'hôtellerie - Non-résidents - Tarn",
       "Nuitées dans l'hôtellerie - Non-résidents - Tarn-et-Garonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Var",
       "Nuitées dans l'hôtellerie - Non-résidents - Vaucluse",
       "Nuitées dans l'hôtellerie - Non-résidents - Vendée",
       "Nuitées dans l'hôtellerie - Non-résidents - Vienne",
       "Nuitées dans l'hôtellerie - Non-résidents - Haute-Vienne",
       "Nuitées dans l'hôtellerie - Non-résidents - Vosges",
       "Nuitées dans l'hôtellerie - Non-résidents - Yonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Territoire de Belfort",
       "Nuitées dans l'hôtellerie - Non-résidents - Essonne",
       "Nuitées dans l'hôtellerie - Non-résidents - Hauts-de-Seine",
       "Nuitées dans l'hôtellerie - Non-résidents - Seine-Saint-Denis",
       "Nuitées dans l'hôtellerie - Non-résidents - Val-de-Marne",
       "Nuitées dans l'hôtellerie - Non-résidents - Val-d'Oise",
       "Nuitées dans l'hôtellerie - Non-résidents - Guadeloupe",
       "Nuitées dans l'hôtellerie - Non-résidents - Martinique",
       "Nuitées dans l'hôtellerie - Non-résidents - Guyane",
       "Nuitées dans l'hôtellerie - Non-résidents - La Réunion",
       "Nuitées dans l'hôtellerie - Non-résidents - Mayotte",
       "Nuitées dans l'hôtellerie - Résidents - Ain",
       "Nuitées dans l'hôtellerie - Résidents - Aisne",
       "Nuitées dans l'hôtellerie - Résidents - Allier",
       "Nuitées dans l'hôtellerie - Résidents - Alpes-de-Haute-Provence",
       "Nuitées dans l'hôtellerie - Résidents - Hautes-Alpes",
       "Nuitées dans l'hôtellerie - Résidents - Alpes-Maritimes",
       "Nuitées dans l'hôtellerie - Résidents - Ardèche",
       "Nuitées dans l'hôtellerie - Résidents - Ardennes",
       "Nuitées dans l'hôtellerie - Résidents - Ariège",
       "Nuitées dans l'hôtellerie - Résidents - Aube",
       "Nuitées dans l'hôtellerie - Résidents - Aude",
       "Nuitées dans l'hôtellerie - Résidents - Aveyron",
       "Nuitées dans l'hôtellerie - Résidents - Bouches-du-Rhône",

In [17]:
#dans une colonne catégorie,je vais recupérer l'info Résidents ou non résidents. Pour taux d'occupation qui est juste regroupé
#par année, je vais mettre "Non applicable"
df_mensuel['Catégorie'] = df_mensuel['Libellé'].apply(lambda x: x.split(' - ')[1] if (len(x.split(' - '))>2) else "Non applicable")
df_mensuel['Catégorie']

0         Non-résidents
1         Non-résidents
2         Non-résidents
3         Non-résidents
4         Non-résidents
              ...
66655    Non applicable
66656    Non applicable
66657    Non applicable
66658    Non applicable
66659    Non applicable
Name: Catégorie, Length: 66660, dtype: object

In [18]:
#pour vérifier les élements uniques de cette colonne
df_mensuel['Catégorie'].unique()

array(['Non-résidents', 'Résidents', 'Non applicable'], dtype=object)

## pour la suite : supprimer libellé 
    renommer variable en année, spliter mois
    group by par année

In [19]:
#supprimer la colonne Libellé puisque nous n'en avons plus besoin
df_mensuel.drop(columns=["Libellé"],inplace=True)

In [20]:
#nous allons renommer les colonnes suivantes pour ce que ce soit plus clair. Méthode rename

df_mensuel.rename(columns={'variable': 'annee', 
                           'value': 'valeur'}, inplace=True)
df_mensuel.head(10)

,annee,valeur,Departement,Type,Catégorie
0,2010-01,NaN,Ain,Arrivées dans l'hôtellerie,Non-résidents
1,2010-01,NaN,Aisne,Arrivées dans l'hôtellerie,Non-résidents
2,2010-01,NaN,Allier,Arrivées dans l'hôtellerie,Non-résidents
3,2010-01,NaN,Alpes-de-Haute-Provence,Arrivées dans l'hôtellerie,Non-résidents
4,2010-01,NaN,Hautes-Alpes,Arrivées dans l'hôtellerie,Non-résidents
5,2010-01,NaN,Alpes-Maritimes,Arrivées dans l'hôtellerie,Non-résidents
6,2010-01,NaN,Ardèche,Arrivées dans l'hôtellerie,Non-résidents
7,2010-01,NaN,Ardennes,Arrivées dans l'hôtellerie,Non-résidents
8,2010-01,NaN,Ariège,Arrivées dans l'hôtellerie,Non-résidents
9,2010-01,NaN,Aube,Arrivées dans l'hôtellerie,Non-résidents

In [21]:
#Nous allons diviser en 2 la colonne annee afin d'avoir l'année et le mois. 
#Pour cela nous allons convertir la colonne en datetime. 
df_mensuel['annee']= pd.to_datetime(df_mensuel['annee']) 
df_mensuel['Annee'] = df_mensuel['annee'].dt.year 
df_mensuel['Mois'] = df_mensuel['annee'].dt.month 
df_mensuel.drop(columns=["annee"],inplace=True) #suppression de la colonne annee d'origine puisque nous n'avons plus besoin. 
df_mensuel.sample(50)

,valeur,Departement,Type,Catégorie,Annee,Mois
9307,8.88,Charente,Nuitées dans l'hôtellerie,Non-résidents,2011,7
32183,148.51,Hautes-Pyrénées,Nuitées dans l'hôtellerie,Résidents,2015,4
34271,51.2,Gers,Taux d'occupation dans l'hôtellerie,Non applicable,2015,8
40336,67.0,Indre-et-Loire,Taux d'occupation dans l'hôtellerie,Non applicable,2016,8
36122,6.88,Hautes-Pyrénées,Nuitées dans l'hôtellerie,Non-résidents,2015,12
8227,29.29,Lot,Arrivées dans l'hôtellerie,Résidents,2011,5
46242,14.4,Vendée,Nuitées dans l'hôtellerie,Non-résidents,2017,8
65103,47.2,Nord,Taux d'occupation dans l'hôtellerie,Non applicable,2020,9
43663,54.54,Haute-Garonne,Nuitées dans l'hôtellerie,Non-résidents,2017,3
59947,68.89,Meurthe-et-Moselle,Nuitées dans l'hôtellerie,Résidents,2019,11
47460,69.8,Essonne,Taux d'occupation dans l'hôtellerie,Non applicable,2017,10
24691,37.8,Lot-et-Garonne,Taux d'occupation dans l'hôtellerie,Non applicable,2014,1
54336,10.64,La Réunion,Nuitées dans l'hôtellerie,Non-résidents,2018,12
18501,23.43,Corrèze,Nuitées dans l'hôtellerie,Résidents,2013,1
19293,35.84,Allier,Arrivées dans l'hôtellerie,Résidents,2013,3
40299,53.4,Ain,Taux d'occupation dans l'hôtellerie,Non applicable,2016,8
50933,58.6,Haute-Corse,Taux d'occupation dans l'hôtellerie,Non applicable,2018,5
50384,160.15,Vienne,Nuitées dans l'hôtellerie,Résidents,2018,4
3441,NaN,Ardennes,Taux d'occupation dans l'hôtellerie,Non applicable,2010,7
63735,53.98,Hautes-Alpes,Arrivées dans l'hôtellerie,Résidents,2020,7
14513,12.85,Haute-Saône,Nuitées dans l'hôtellerie,Résidents,2012,5
6385,29.8,Dordogne,Nuitées dans l'hôtellerie,Résidents,2011,1
5888,NaN,Gard,Nuitées dans l'hôtellerie,Résidents,2010,12
20956,18.61,Maine-et-Loire,Nuitées dans l'hôtellerie,Non-résidents,2013,6
27370,NaN,Mayotte,Arrivées dans l'hôtellerie,Non-résidents,2014,7
46642,25.26,Tarn,Arrivées dans l'hôtellerie,Résidents,2017,9
10779,57.05,Savoie,Arrivées dans l'hôtellerie,Résidents,2011,10
63970,136.84,Indre-et-Loire,Nuitées dans l'hôtellerie,Résidents,2020,7
23776,3.3,Loir-et-Cher,Arrivées dans l'hôtellerie,Non-résidents,2013,12
28570,19.66,Vosges,Nuitées dans l'hôtellerie,Non-résidents,2014,9
23360,11.01,Haute-Corse,Arrivées dans l'hôtellerie,Résidents,2013,11
49120,86.17,Hérault,Arrivées dans l'hôtellerie,Résidents,2018,2
61939,NaN,Eure-et-Loir,Nuitées dans l'hôtellerie,Résidents,2020,3
36368,0.71,Ariège,Arrivées dans l'hôtellerie,Non-résidents,2016,1
17026,31.97,Nièvre,Nuitées dans l'hôtellerie,Résidents,2012,10
15619,51.1,Hautes-Pyrénées,Taux d'occupation dans l'hôtellerie,Non applicable,2012,7
44802,255.61,Nord,Nuitées dans l'hôtellerie,Résidents,2017,5
29179,167.61,Essonne,Nuitées dans l'hôtellerie,Résidents,2014,10
64018,200.46,Vendée,Nuitées dans l'hôtellerie,Résidents,2020,7
22705,60.6,Tarn,Taux d'occupation dans l'hôtellerie,Non applicable,2013,9
25514,53.3,Pas-de-Calais,Nuitées dans l'hôtellerie,Non-résidents,2014,3
45777,117.89,Drôme,Nuitées dans l'hôtellerie,Résidents,2017,7
13964,43.91,Eure-et-Loir,Nuitées dans l'hôtellerie,Résidents,2012,4
1603,NaN,Vosges,Arrivées dans l'hôtellerie,Non-résidents,2010,4
48470,57.8,Essonne,Taux d'occupation dans l'hôtellerie,Non applicable,2017,12
37428,1.35,Nièvre,Arrivées dans l'hôtellerie,Non-résidents,2016,3
17955,31.73,Yvelines,Nuitées dans l'hôtellerie,Non-résidents,2012,12
41156,9.65,Maine-et-Loire,Nuitées dans l'hôtellerie,Non-résidents,2016,10
8995,54.1,Ardèche,Taux d'occupation dans l'hôtellerie,Non applicable,2011,6
54342,65.77,Hautes-Alpes,Nuitées dans l'hôtellerie,Résidents,2018,12

In [22]:
#reogarnisation de l'ordre des colonnes
df_mensuel = df_mensuel[['Annee','Mois','valeur','Departement','Type','Catégorie']]
df_mensuel

,Annee,Mois,valeur,Departement,Type,Catégorie
0,2010,1,NaN,Ain,Arrivées dans l'hôtellerie,Non-résidents
1,2010,1,NaN,Aisne,Arrivées dans l'hôtellerie,Non-résidents
2,2010,1,NaN,Allier,Arrivées dans l'hôtellerie,Non-résidents
3,2010,1,NaN,Alpes-de-Haute-Provence,Arrivées dans l'hôtellerie,Non-résidents
4,2010,1,NaN,Hautes-Alpes,Arrivées dans l'hôtellerie,Non-résidents
...,...,...,...,...,...,...
66655,2020,12,44.1,Guadeloupe,Taux d'occupation dans l'hôtellerie,Non applicable
66656,2020,12,38.2,Martinique,Taux d'occupation dans l'hôtellerie,Non applicable
66657,2020,12,53.8,Guyane,Taux d'occupation dans l'hôtellerie,Non applicable
66658,2020,12,57.4,La Réunion,Taux d'occupation dans l'hôtellerie,Non applicable
66659,2020,12,49.8,Mayotte,Taux d'occupation dans l'hôtellerie,Non applicable

In [23]:
df_mensuel["Type"].unique()

array(["Arrivées dans l'hôtellerie ", "Nuitées dans l'hôtellerie ",
       "Taux d'occupation dans l'hôtellerie "], dtype=object)

In [24]:
df_mensuel["Catégorie"]

0         Non-résidents
1         Non-résidents
2         Non-résidents
3         Non-résidents
4         Non-résidents
              ...
66655    Non applicable
66656    Non applicable
66657    Non applicable
66658    Non applicable
66659    Non applicable
Name: Catégorie, Length: 66660, dtype: object

In [25]:
#suppression des années 2010  car il y a beaucoup d'élements vides

df_mensuel= df_mensuel.drop(df_mensuel[df_mensuel['Annee'].isin([2010])].index)

In [26]:
df_mensuel['Annee'].unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
      dtype=int64)

In [27]:
#remplacement des non residents par etrangers et residents par français

def set_values(row, value):
    return value[row]

map_dictionary ={"Non-résidents": "etrangers", "Résidents":"français","Non applicable":"Non applicable"}

In [28]:
#remplacement de non résidents et résidents par origine touristes
df_mensuel["typologie_touristes"] = df_mensuel["Catégorie"].apply(set_values, args =(map_dictionary, )) 
df_mensuel.drop(columns=["Catégorie"],inplace=True) #suppression de la colonne  catégorie puisque nous n'avons plus besoin. 
df_mensuel.sample(30)

,Annee,Mois,valeur,Departement,Type,typologie_touristes
21907,2013,8,62.4,Essonne,Arrivées dans l'hôtellerie,français
11954,2011,12,20.77,Indre,Nuitées dans l'hôtellerie,français
39846,2016,7,57.6,Haute-Marne,Taux d'occupation dans l'hôtellerie,Non applicable
24507,2014,1,6.05,Hautes-Pyrénées,Nuitées dans l'hôtellerie,etrangers
33014,2015,6,35.34,Vosges,Arrivées dans l'hôtellerie,français
15471,2012,7,62.25,Corrèze,Nuitées dans l'hôtellerie,français
42909,2017,1,35.6,Vendée,Taux d'occupation dans l'hôtellerie,Non applicable
10966,2011,10,35.86,Nièvre,Nuitées dans l'hôtellerie,français
56981,2019,5,56.1,Cher,Taux d'occupation dans l'hôtellerie,Non applicable
12856,2012,2,1.47,Haute-Corse,Nuitées dans l'hôtellerie,etrangers
8567,2011,5,50.0,Var,Taux d'occupation dans l'hôtellerie,Non applicable
6342,2011,1,6.15,Somme,Nuitées dans l'hôtellerie,etrangers
19119,2013,2,38.2,Gard,Taux d'occupation dans l'hôtellerie,Non applicable
10777,2011,10,57.72,Saône-et-Loire,Arrivées dans l'hôtellerie,français
8975,2011,6,59.27,Haute-Vienne,Nuitées dans l'hôtellerie,français
46405,2017,8,76.9,Lot,Taux d'occupation dans l'hôtellerie,Non applicable
52004,2018,7,63.6,Territoire de Belfort,Taux d'occupation dans l'hôtellerie,Non applicable
49658,2018,3,106.65,Bas-Rhin,Arrivées dans l'hôtellerie,français
10447,2011,9,253.01,Loire-Atlantique,Nuitées dans l'hôtellerie,français
50266,2018,4,91.39,Rhône,Nuitées dans l'hôtellerie,etrangers
64685,2020,9,7.18,Loiret,Arrivées dans l'hôtellerie,etrangers
6497,2011,1,43.8,Gironde,Taux d'occupation dans l'hôtellerie,Non applicable
35544,2015,11,139.52,Seine-Saint-Denis,Arrivées dans l'hôtellerie,français
13949,2012,4,53.17,Aveyron,Nuitées dans l'hôtellerie,français
22102,2013,8,183.71,Vaucluse,Nuitées dans l'hôtellerie,français
18747,2013,2,24.49,Pas-de-Calais,Arrivées dans l'hôtellerie,etrangers
34659,2015,9,209.41,Charente-Maritime,Nuitées dans l'hôtellerie,français
61586,2020,2,NaN,Seine-et-Marne,Taux d'occupation dans l'hôtellerie,Non applicable
62787,2020,5,NaN,Pyrénées-Orientales,Arrivées dans l'hôtellerie,français
27807,2014,8,1.42,Gers,Arrivées dans l'hôtellerie,etrangers

In [29]:
#utilisation de la méthode get dummies pour les elements de la colonne Type en colonne
dummies=pd.get_dummies(df_mensuel['Type'])
dummies.head()

,Arrivées dans l'hôtellerie,Nuitées dans l'hôtellerie,Taux d'occupation dans l'hôtellerie
6060,1,0,0
6061,1,0,0
6062,1,0,0
6063,1,0,0
6064,1,0,0

In [30]:
#reaffectation des valeurs
for col in dummies.columns:
    df_mensuel[col]=dummies[col]*df_mensuel['valeur']
df_mensuel.sample(50)

,Annee,Mois,valeur,Departement,Type,typologie_touristes,Arrivées dans l'hôtellerie,Nuitées dans l'hôtellerie,Taux d'occupation dans l'hôtellerie
63278,2020,6,NaN,Haute-Marne,Arrivées dans l'hôtellerie,français,NaN,NaN,NaN
66616,2020,12,NaN,Moselle,Taux d'occupation dans l'hôtellerie,Non applicable,NaN,NaN,NaN
64971,2020,9,227.8,Corse-du-Sud,Nuitées dans l'hôtellerie,français,,227.8,
16812,2012,10,24.05,Lot,Arrivées dans l'hôtellerie,français,24.05,,
31909,2015,4,47.17,Val-de-Marne,Arrivées dans l'hôtellerie,etrangers,47.17,,
50828,2018,5,50.46,Eure,Nuitées dans l'hôtellerie,français,,50.46,
27397,2014,7,36.09,Eure-et-Loir,Arrivées dans l'hôtellerie,français,36.09,,
11259,2011,11,8.28,Lozère,Arrivées dans l'hôtellerie,français,8.28,,
8043,2011,4,49.7,Pyrénées-Atlantiques,Taux d'occupation dans l'hôtellerie,Non applicable,,,49.7
48184,2017,12,3.34,Ardennes,Nuitées dans l'hôtellerie,etrangers,,3.34,
36824,2016,1,45.2,Oise,Taux d'occupation dans l'hôtellerie,Non applicable,,,45.2
18611,2013,1,36.7,Finistère,Taux d'occupation dans l'hôtellerie,Non applicable,,,36.7
23820,2013,12,0.79,Vendée,Arrivées dans l'hôtellerie,etrangers,0.79,,
33070,2015,6,6.79,Haute-Loire,Nuitées dans l'hôtellerie,etrangers,,6.79,
29944,2014,12,5.31,Lozère,Arrivées dans l'hôtellerie,français,5.31,,
54690,2019,1,44.91,Maine-et-Loire,Arrivées dans l'hôtellerie,français,44.91,,
21147,2013,6,57.3,Isère,Taux d'occupation dans l'hôtellerie,Non applicable,,,57.3
42587,2017,1,36.29,Pyrénées-Orientales,Arrivées dans l'hôtellerie,français,36.29,,
48507,2018,1,3.94,Finistère,Arrivées dans l'hôtellerie,etrangers,3.94,,
30176,2014,12,162.42,Yvelines,Nuitées dans l'hôtellerie,français,,162.42,
44564,2017,5,57.19,Doubs,Arrivées dans l'hôtellerie,français,57.19,,
59587,2019,10,66.9,Guyane,Taux d'occupation dans l'hôtellerie,Non applicable,,,66.9
46867,2017,9,50.2,Alpes-de-Haute-Provence,Taux d'occupation dans l'hôtellerie,Non applicable,,,50.2
13073,2012,2,49.4,Loire-Atlantique,Taux d'occupation dans l'hôtellerie,Non applicable,,,49.4
46803,2017,9,105.78,Landes,Nuitées dans l'hôtellerie,français,,105.78,
53756,2018,11,13.42,Drôme,Nuitées dans l'hôtellerie,etrangers,,13.42,
62099,2020,3,NaN,Vendée,Taux d'occupation dans l'hôtellerie,Non applicable,NaN,NaN,NaN
39056,2016,6,8.34,Haute-Saône,Arrivées dans l'hôtellerie,français,8.34,,
8710,2011,6,76.55,Drôme,Arrivées dans l'hôtellerie,français,76.55,,
7467,2011,3,195.09,Val-de-Marne,Nuitées dans l'hôtellerie,français,,195.09,
44543,2017,5,38.1,Allier,Arrivées dans l'hôtellerie,français,38.1,,
22309,2013,9,13.32,Yonne,Arrivées dans l'hôtellerie,etrangers,13.32,,
10246,2011,9,74.6,Loiret,Arrivées dans l'hôtellerie,français,74.6,,
44106,2017,4,7.14,Haute-Saône,Arrivées dans l'hôtellerie,français,7.14,,
20344,2013,5,20.27,Haute-Loire,Arrivées dans l'hôtellerie,français,20.27,,
55278,2019,2,48.57,Haute-Garonne,Nuitées dans l'hôtellerie,etrangers,,48.57,
8836,2011,6,20.2,Maine-et-Loire,Nuitées dans l'hôtellerie,etrangers,,20.2,
16674,2012,10,5.48,Aube,Arrivées dans l'hôtellerie,etrangers,5.48,,
55653,2019,3,35.54,Allier,Arrivées dans l'hôtellerie,français,35.54,,
17531,2012,11,25.71,Nièvre,Nuitées dans l'hôtellerie,français,,25.71,
29093,2014,10,303.69,Alpes-Maritimes,Nuitées dans l'hôtellerie,français,,303.69,
66171,2020,12,NaN,Charente-Maritime,Arrivées dans l'hôtellerie,etrangers,NaN,NaN,NaN
34781,2015,9,71.2,Indre-et-Loire,Taux d'occupation dans l'hôtellerie,Non applicable,,,71.2
8471,2011,5,60.92,Vosges,Nuitées dans l'hôtellerie,français,,60.92,
57808,2019,7,6.78,Indre,Nuitées dans l'hôtellerie,etrangers,,6.78,
33789,2015,7,46.7,Meuse,Taux d'occupation dans l'hôtellerie,Non applicable,,,46.7
65672,2020,11,NaN,Dordogne,Arrivées dans l'hôtellerie,etrangers,NaN,NaN,NaN
7218,2011,3,17.78,Lot-et-Garonne,Arrivées dans l'hôtellerie,français,17.78,,
33570,2015,7,71.11,Isère,Nuitées dans l'hôtellerie,etrangers,,71.11,
19734,2013,4,3.44,Jura,Arrivées dans l'hôtellerie,etrangers,3.44,,

In [31]:
# On vérifie le pourcentage de valeurs manquantes par colonnne et on indique vouloir garder toutes les lignes pd.set_option('display.max_rows',None) round(application.isnull().sum() / application.shape[0] * 100,2)
# On vérifie le pourcentage de valeurs manquantes par colonnne et on indique vouloir garder toutes les lignes
pd.set_option('display.max_rows',None)
round(df_mensuel.isnull().sum() / df_mensuel.shape[0] * 100,2)

Annee                                   0.00
Mois                                    0.00
valeur                                  7.06
Departement                             0.00
Type                                    0.00
typologie_touristes                     0.00
Arrivées dans l'hôtellerie              7.06
Nuitées dans l'hôtellerie               7.06
Taux d'occupation dans l'hôtellerie     7.06
dtype: float64

In [32]:
#la méthode df.isna() retourne DataFrame dont les entrées contiennent des valeurs booléennes dénotant la présence 
#df.isna().sum().sum() retourner 

total_nan_values = df_mensuel.isna().sum().sum()

#print ("Le nombre total de Nan est de :"+str(total_nan_values))

In [33]:
#Je vais remplacer toutesles nan par la valeur -300 afin de les distinguer. 
df_mensuel.fillna(-300, inplace=True)

In [34]:
#Revérification de la présence des Nan. Maintenant nous remarquons qu'il n'en y a pas plus. 
total_nan_values = df_mensuel.isna().sum().sum()

print ("Le nombre total de Nan est de :"+str(total_nan_values))

Le nombre total de Nan est de :0

In [35]:
df_mensuel.sample(10)

,Annee,Mois,valeur,Departement,Type,typologie_touristes,Arrivées dans l'hôtellerie,Nuitées dans l'hôtellerie,Taux d'occupation dans l'hôtellerie
24333,2014,1,37.95,Seine-Saint-Denis,Arrivées dans l'hôtellerie,etrangers,37.95,,
10509,2011,9,76.6,Alpes-Maritimes,Taux d'occupation dans l'hôtellerie,Non applicable,,,76.6
42899,2017,1,68.5,Paris,Taux d'occupation dans l'hôtellerie,Non applicable,,,68.5
60918,2020,1,-300,Charente,Nuitées dans l'hôtellerie,français,-300,-300,-300
56882,2019,5,127.6,Côte-d'Or,Nuitées dans l'hôtellerie,français,,127.6,
42021,2016,12,113.14,Alpes-Maritimes,Arrivées dans l'hôtellerie,français,113.14,,
33796,2015,7,68.0,Pas-de-Calais,Taux d'occupation dans l'hôtellerie,Non applicable,,,68.0
10788,2011,10,19.72,Tarn-et-Garonne,Arrivées dans l'hôtellerie,français,19.72,,
18077,2012,12,76.76,La Réunion,Nuitées dans l'hôtellerie,français,,76.76,
20121,2013,4,36.1,Dordogne,Taux d'occupation dans l'hôtellerie,Non applicable,,,36.1

In [36]:
#afin de pouvoir renommer mes colonnes , je vais supprimer l'apostrophe pour ne pas rencontrer de problèmes
df_mensuel.rename(columns=lambda x: x.replace("'",""), inplace=True)
df_mensuel.head()

,Annee,Mois,valeur,Departement,Type,typologie_touristes,Arrivées dans lhôtellerie,Nuitées dans lhôtellerie,Taux doccupation dans lhôtellerie
6060,2011,1,7.41,Ain,Arrivées dans l'hôtellerie,etrangers,7.41,,
6061,2011,1,2.4,Aisne,Arrivées dans l'hôtellerie,etrangers,2.4,,
6062,2011,1,0.94,Allier,Arrivées dans l'hôtellerie,etrangers,0.94,,
6063,2011,1,0.65,Alpes-de-Haute-Provence,Arrivées dans l'hôtellerie,etrangers,0.65,,
6064,2011,1,3.01,Hautes-Alpes,Arrivées dans l'hôtellerie,etrangers,3.01,,

In [37]:
#Df.columns est essentiel pour connaitre comment est écrit exactement la colonne : présence d'espace, signes irréguliers..
#Dans notre cas, on se rend compte les 3 dernières ont un espace à la fin
df_mensuel.columns

Index(['Annee', 'Mois', 'valeur', 'Departement', 'Type', 'typologie_touristes',
       'Arrivées dans lhôtellerie ', 'Nuitées dans lhôtellerie ',
       'Taux doccupation dans lhôtellerie '],
      dtype='object')

In [38]:
#renommage de colonnes
df_mensuel.rename(columns={'Arrivées dans lhôtellerie ': 'arrivees', 
                           'Nuitées dans lhôtellerie ': 'nuitees','Taux doccupation dans lhôtellerie ': 'taux_occupation',
                           'Mois': 'mois','Annee': 'annee','Departement':'nom_departement','typologie_touristes':'categorie'}, inplace=True)
df_mensuel.head()

,annee,mois,valeur,nom_departement,Type,categorie,arrivees,nuitees,taux_occupation
6060,2011,1,7.41,Ain,Arrivées dans l'hôtellerie,etrangers,7.41,,
6061,2011,1,2.4,Aisne,Arrivées dans l'hôtellerie,etrangers,2.4,,
6062,2011,1,0.94,Allier,Arrivées dans l'hôtellerie,etrangers,0.94,,
6063,2011,1,0.65,Alpes-de-Haute-Provence,Arrivées dans l'hôtellerie,etrangers,0.65,,
6064,2011,1,3.01,Hautes-Alpes,Arrivées dans l'hôtellerie,etrangers,3.01,,

In [39]:
#Suppression des colonnes valeur et Type car leurs données sont disponibles dans les colonnes arrivees, nuitees,taux occupation
supp = ['valeur', 'Type']
df_mensuel.drop(supp, inplace=True, axis=1)
df_mensuel.head()

,annee,mois,nom_departement,categorie,arrivees,nuitees,taux_occupation
6060,2011,1,Ain,etrangers,7.41,,
6061,2011,1,Aisne,etrangers,2.4,,
6062,2011,1,Allier,etrangers,0.94,,
6063,2011,1,Alpes-de-Haute-Provence,etrangers,0.65,,
6064,2011,1,Hautes-Alpes,etrangers,3.01,,

In [40]:
#ajout d'une nouvelle colonne id_categorie basée sur la catégorie
df_mensuel['categorie'].unique()

array(['etrangers', 'français', 'Non applicable'], dtype=object)

In [41]:
#ajout d'une nouvelle colonne id_categorie basée sur la catégorie

def set_values(row, value):
    return value[row]
   
dic_categorie ={"etrangers":2, "français":1, "Non applicable":3} 

df_mensuel['id_categorie'] = df_mensuel['categorie'].apply(set_values, args =(dic_categorie, )) 

df_mensuel.head()

,annee,mois,nom_departement,categorie,arrivees,nuitees,taux_occupation,id_categorie
6060,2011,1,Ain,etrangers,7.41,,,2
6061,2011,1,Aisne,etrangers,2.4,,,2
6062,2011,1,Allier,etrangers,0.94,,,2
6063,2011,1,Alpes-de-Haute-Provence,etrangers,0.65,,,2
6064,2011,1,Hautes-Alpes,etrangers,3.01,,,2

In [42]:
#ajout d'une nouvelle colonne code_departement basée sur le nom departement


dic_departement ={'Ain':1, 'Aisne':2, 'Allier':3, 'Alpes-de-Haute-Provence':4,
       'Hautes-Alpes':5, 'Alpes-Maritimes':6, 'Ardèche':7, 'Ardennes':8, 'Ariège':9,
       'Aube':10, 'Aude':11, 'Aveyron':12, 'Bouches-du-Rhône':13, 'Calvados':14,
       'Cantal':15, 'Charente':16, 'Charente-Maritime':17, 'Cher':18, 'Corrèze':19,
       "Côte-d'Or":21, "Côtes-d'Armor":22, 'Creuse':23, 'Dordogne':24, 'Doubs':25,
       'Drôme':26, 'Eure':27, 'Eure-et-Loir':28, 'Finistère':29, 'Corse-du-Sud':'2A',
       'Haute-Corse':'2B', 'Gard':30, 'Haute-Garonne':31, 'Gers':32, 'Gironde':33,
       'Hérault':34, 'Ille-et-Vilaine':35, 'Indre':36, 'Indre-et-Loire':37, 'Isère':38,
       'Jura':39, 'Landes':40, 'Loir-et-Cher':41, 'Loire':42, 'Haute-Loire':43,
       'Loire-Atlantique':44, 'Loiret':45, 'Lot':46, 'Lot-et-Garonne':47, 'Lozère':48,
       'Maine-et-Loire':49, 'Manche':50, 'Marne':51, 'Haute-Marne':52, 'Mayenne':53,
       'Meurthe-et-Moselle':54, 'Meuse':55, 'Morbihan':56, 'Moselle':57, 'Nièvre':58,
       'Nord':59, 'Oise':60, 'Orne':61, 'Pas-de-Calais':62, 'Puy-de-Dôme':63,
       'Pyrénées-Atlantiques':64, 'Hautes-Pyrénées':65, 'Pyrénées-Orientales':66,
       'Bas-Rhin':67, 'Haut-Rhin':68, 'Rhône':69, 'Haute-Saône':70, 'Saône-et-Loire':71,
       'Sarthe':72, 'Savoie':73, 'Haute-Savoie':74, 'Paris':75, 'Seine-Maritime':76,
       'Seine-et-Marne':77, 'Yvelines':78, 'Deux-Sèvres':79, 'Somme':80, 'Tarn':81,
       'Tarn-et-Garonne':82, 'Var':83, 'Vaucluse':84, 'Vendée':85, 'Vienne':86,
       'Haute-Vienne':87, 'Vosges':88, 'Yonne':89, 'Territoire de Belfort':90,
       'Essonne':91, 'Hauts-de-Seine':92, 'Seine-Saint-Denis':93, 'Val-de-Marne':94,
       "Val-d'Oise":95, 'Guadeloupe':971, 'Martinique':972, 'Guyane':973, 'La Réunion':974,
       'Mayotte':976} 

df_mensuel['code_departement'] = df_mensuel['nom_departement'].apply(set_values, args =(dic_departement, )) 

df_mensuel.head()

,annee,mois,nom_departement,categorie,arrivees,nuitees,taux_occupation,id_categorie,code_departement
6060,2011,1,Ain,etrangers,7.41,,,2,1
6061,2011,1,Aisne,etrangers,2.4,,,2,2
6062,2011,1,Allier,etrangers,0.94,,,2,3
6063,2011,1,Alpes-de-Haute-Provence,etrangers,0.65,,,2,4
6064,2011,1,Hautes-Alpes,etrangers,3.01,,,2,5

In [43]:
df_mensuel['nom_departement'].unique()

array(['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence',
       'Hautes-Alpes', 'Alpes-Maritimes', 'Ardèche', 'Ardennes', 'Ariège',
       'Aube', 'Aude', 'Aveyron', 'Bouches-du-Rhône', 'Calvados',
       'Cantal', 'Charente', 'Charente-Maritime', 'Cher', 'Corrèze',
       "Côte-d'Or", "Côtes-d'Armor", 'Creuse', 'Dordogne', 'Doubs',
       'Drôme', 'Eure', 'Eure-et-Loir', 'Finistère', 'Corse-du-Sud',
       'Haute-Corse', 'Gard', 'Haute-Garonne', 'Gers', 'Gironde',
       'Hérault', 'Ille-et-Vilaine', 'Indre', 'Indre-et-Loire', 'Isère',
       'Jura', 'Landes', 'Loir-et-Cher', 'Loire', 'Haute-Loire',
       'Loire-Atlantique', 'Loiret', 'Lot', 'Lot-et-Garonne', 'Lozère',
       'Maine-et-Loire', 'Manche', 'Marne', 'Haute-Marne', 'Mayenne',
       'Meurthe-et-Moselle', 'Meuse', 'Morbihan', 'Moselle', 'Nièvre',
       'Nord', 'Oise', 'Orne', 'Pas-de-Calais', 'Puy-de-Dôme',
       'Pyrénées-Atlantiques', 'Hautes-Pyrénées', 'Pyrénées-Orientales',
       'Bas-Rhin', 'Haut-Rhin', 'Rhône', 'Haute-Saône', 'Saône-et-Loire',
       'Sarthe', 'Savoie', 'Haute-Savoie', 'Paris', 'Seine-Maritime',
       'Seine-et-Marne', 'Yvelines', 'Deux-Sèvres', 'Somme', 'Tarn',
       'Tarn-et-Garonne', 'Var', 'Vaucluse', 'Vendée', 'Vienne',
       'Haute-Vienne', 'Vosges', 'Yonne', 'Territoire de Belfort',
       'Essonne', 'Hauts-de-Seine', 'Seine-Saint-Denis', 'Val-de-Marne',
       "Val-d'Oise", 'Guadeloupe', 'Martinique', 'Guyane', 'La Réunion',
       'Mayotte'], dtype=object)

In [44]:
#téléchargement du csv département df_departement
df_departement=pd.read_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data/departments.csv', sep=',')
df_departement.head()

   region_code code_departement          nom_departement
0           84                1                      Ain
1           32                2                    Aisne
2           84                3                   Allier
3           93                4  Alpes-de-Haute-Provence
4           93                5             Hautes-Alpes

In [45]:
#Nous allons faire une jointure des 2 dataframes en indiquant la colonne sur laquelle nous ferons la jointure
#df_fusion1 est la fusion du df_mensuel et df_departement
df_fusion1= df_mensuel.merge(df_departement, on = ['nom_departement'])
#df_fusion1 = df_fusion1.drop('nom_departement', 1)
#df_fusion1.rename(columns={'Nom_du_departement': 'nom_departement'}, inplace=True)
df_fusion1.sample(30)

,annee,mois,nom_departement,categorie,arrivees,nuitees,taux_occupation,id_categorie,code_departement_x,region_code,code_departement_y
2980,2020,9,Hautes-Alpes,etrangers,2.85,,,2,5,93,5
10716,2019,8,Cher,français,54.94,,,1,18,24,18
35911,2019,7,Nord,français,148.07,,,1,59,32,59
933,2016,7,Aisne,français,,32.37,,1,2,32,2
33907,2016,2,Morbihan,etrangers,,4.13,,2,56,53,56
15050,2011,11,Eure,etrangers,1.91,,,2,27,28,27
10805,2011,2,Corrèze,etrangers,0.46,,,2,19,75,19
49955,2013,8,Var,etrangers,77.55,,,2,83,93,83
24179,2013,12,Landes,Non applicable,,,33.9,3,40,75,40
48394,2017,7,Somme,Non applicable,,,66.9,3,80,32,80
23345,2020,2,Isère,etrangers,-300,-300,-300,2,38,84,38
36998,2017,8,Orne,français,,30.39,,1,61,28,61
47952,2020,3,Deux-Sèvres,etrangers,-300,-300,-300,2,79,75,79
42049,2011,10,Haute-Saône,Non applicable,,,49.2,3,70,27,70
6799,2014,4,Aveyron,Non applicable,,,35.7,3,12,76,12
9423,2018,1,Charente,français,,24.76,,1,16,75,16
29205,2017,10,Lozère,etrangers,1.47,,,2,48,76,48
33187,2014,2,Meuse,etrangers,,1.33,,2,55,44,55
51148,2013,6,Vendée,français,,119.34,,1,85,52,85
45272,2015,7,Paris,etrangers,,2638.92,,2,75,11,75
37471,2015,7,Pas-de-Calais,français,101.94,,,1,62,32,62
13538,2016,8,Dordogne,français,,134.95,,1,24,75,24
55909,2012,10,Seine-Saint-Denis,Non applicable,,,80.8,3,93,11,93
19983,2014,1,Gironde,français,,172.44,,1,33,75,33
26894,2019,3,Loire-Atlantique,Non applicable,,,60.6,3,44,52,44
38824,2018,1,Pyrénées-Atlantiques,Non applicable,,,40.5,3,64,75,64
19283,2012,5,Gers,français,,22.92,,1,32,76,32
22617,2017,12,Indre-et-Loire,etrangers,,13.05,,2,37,24,37
15706,2012,10,Eure-et-Loir,français,32.05,,,1,28,24,28
50060,2015,5,Var,etrangers,50.18,,,2,83,93,83

In [46]:
df_fusion1['nom_departement'].unique()

array(['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence',
       'Hautes-Alpes', 'Alpes-Maritimes', 'Ardèche', 'Ardennes', 'Ariège',
       'Aube', 'Aude', 'Aveyron', 'Bouches-du-Rhône', 'Calvados',
       'Cantal', 'Charente', 'Charente-Maritime', 'Cher', 'Corrèze',
       "Côte-d'Or", "Côtes-d'Armor", 'Creuse', 'Dordogne', 'Doubs',
       'Drôme', 'Eure', 'Eure-et-Loir', 'Finistère', 'Corse-du-Sud',
       'Haute-Corse', 'Gard', 'Haute-Garonne', 'Gers', 'Gironde',
       'Hérault', 'Ille-et-Vilaine', 'Indre', 'Indre-et-Loire', 'Isère',
       'Jura', 'Landes', 'Loir-et-Cher', 'Loire', 'Haute-Loire',
       'Loire-Atlantique', 'Loiret', 'Lot', 'Lot-et-Garonne', 'Lozère',
       'Maine-et-Loire', 'Manche', 'Marne', 'Haute-Marne', 'Mayenne',
       'Meurthe-et-Moselle', 'Meuse', 'Morbihan', 'Moselle', 'Nièvre',
       'Nord', 'Oise', 'Orne', 'Pas-de-Calais', 'Puy-de-Dôme',
       'Pyrénées-Atlantiques', 'Hautes-Pyrénées', 'Pyrénées-Orientales',
       'Bas-Rhin', 'Haut-Rhin', 'Rhône', 'Haute-Saône', 'Saône-et-Loire',
       'Sarthe', 'Savoie', 'Haute-Savoie', 'Paris', 'Seine-Maritime',
       'Seine-et-Marne', 'Yvelines', 'Deux-Sèvres', 'Somme', 'Tarn',
       'Tarn-et-Garonne', 'Var', 'Vaucluse', 'Vendée', 'Vienne',
       'Haute-Vienne', 'Vosges', 'Yonne', 'Territoire de Belfort',
       'Essonne', 'Hauts-de-Seine', 'Seine-Saint-Denis', 'Val-de-Marne',
       "Val-d'Oise", 'Guadeloupe', 'Martinique', 'Guyane', 'La Réunion',
       'Mayotte'], dtype=object)

In [47]:
#téléchargement du csv des dates
df_date=pd.read_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data/table_date.csv', sep=',')
df_date.head()

   id_date  annee     mois  trimestre
0        1   2011  janvier          1
1        2   2011  fevrier          1
2        3   2011     mars          1
3        4   2011    avril          2
4        5   2011      mai          2

In [48]:
df_fusion1['mois'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [49]:
df_date['mois'].unique()

array(['janvier', 'fevrier', 'mars', 'avril', 'mai', 'juin', 'juillet',
       'aout', 'septembre', 'octobre', 'novembre', 'decembre'],
      dtype=object)

In [50]:
#Uniformisation de la colonne mois dans les 2 tables
dic_mois ={1:'janvier',2:'fevrier', 3:'mars', 4:'avril',5:"mai", 6:'juin', 7:'juillet',8:'aout', 
           9:'septembre',10:'octobre', 11:'novembre', 12:'decembre'} 

df_fusion1['Mois'] = df_fusion1['mois'].apply(set_values, args =(dic_mois, )) 
df_fusion1 = df_fusion1.drop('mois', 1)
df_fusion1.rename(columns={'Mois': 'mois'}, inplace=True)
df_fusion1.head()

,annee,nom_departement,categorie,arrivees,nuitees,taux_occupation,id_categorie,code_departement_x,region_code,code_departement_y,mois
0,2011,Ain,etrangers,7.41,,,2,1,84,1,janvier
1,2011,Ain,français,39.91,,,1,1,84,1,janvier
2,2011,Ain,etrangers,,12.19,,2,1,84,1,janvier
3,2011,Ain,français,,56.49,,1,1,84,1,janvier
4,2011,Ain,Non applicable,,,46.1,3,1,84,1,janvier

In [51]:
df_fusion1['mois'].unique()

array(['janvier', 'fevrier', 'mars', 'avril', 'mai', 'juin', 'juillet',
       'aout', 'septembre', 'octobre', 'novembre', 'decembre'],
      dtype=object)

In [52]:
df_fusion1.rename(columns={'code_departement_x': 'code_departement',}, inplace=True)

In [53]:
#Nous allons faire une jointure des 2 dataframes en indiquant les colonnes sur lesquelles nous ferons la jointure
#df_fusion1 est la fusion du df_fusion1 et df_date
df_fusion2= df_fusion1.merge(df_date, on = ['annee','mois'])

df_fusion2.head()

,annee,nom_departement,categorie,arrivees,nuitees,taux_occupation,id_categorie,code_departement,region_code,code_departement_y,mois,id_date,trimestre
0,2011,Ain,etrangers,7.41,,,2,1,84,1,janvier,1,1
1,2011,Ain,français,39.91,,,1,1,84,1,janvier,1,1
2,2011,Ain,etrangers,,12.19,,2,1,84,1,janvier,1,1
3,2011,Ain,français,,56.49,,1,1,84,1,janvier,1,1
4,2011,Ain,Non applicable,,,46.1,3,1,84,1,janvier,1,1

In [54]:
df_fusion2.sample(20)

,annee,nom_departement,categorie,arrivees,nuitees,taux_occupation,id_categorie,code_departement,region_code,code_departement_y,mois,id_date,trimestre
22965,2014,Lozère,etrangers,1.52,,,2,48,76,48,octobre,46,4
18075,2013,Somme,etrangers,5.21,,,2,80,32,80,decembre,36,4
15070,2013,Vendée,etrangers,4.43,,,2,85,52,85,juin,30,2
22456,2014,Lot-et-Garonne,français,24.85,,,1,47,75,47,septembre,45,3
616,2011,Dordogne,français,22.55,,,1,24,75,24,fevrier,2,1
42660,2018,Lozère,etrangers,0.71,,,2,48,76,48,janvier,85,1
47308,2018,Haut-Rhin,français,,144.91,,1,68,44,68,octobre,94,4
54787,2020,Maine-et-Loire,etrangers,-300,-300,-300,2,49,52,49,janvier,109,1
37775,2017,Tarn,etrangers,1.76,,,2,81,76,81,mars,75,1
26431,2015,Hérault,français,149.31,,,1,34,76,34,mai,53,2
48616,2019,Finistère,français,51.85,,,1,29,53,29,janvier,97,1
52902,2019,Seine-Maritime,etrangers,,57.03,,2,76,28,76,septembre,105,3
29063,2015,Meuse,français,,14.07,,1,55,44,55,octobre,58,4
347,2011,Rhône,etrangers,,53.36,,2,69,84,69,janvier,1,1
5721,2011,Gironde,français,115.0,,,1,33,75,33,decembre,12,4
52022,2019,Aisne,etrangers,,14.65,,2,2,32,2,aout,104,3
39269,2017,Seine-Maritime,Non applicable,,,65.9,3,76,28,76,juin,78,2
29363,2015,Cantal,français,,16.55,,1,15,84,15,novembre,59,4
16465,2013,Orne,etrangers,2.32,,,2,61,28,61,septembre,33,3
26997,2015,Lot,etrangers,,15.03,,2,46,76,46,juin,54,2

In [55]:
df_fusion2 = df_fusion2.drop('code_departement_y', 1)
df_fusion2.sample(20)

,annee,nom_departement,categorie,arrivees,nuitees,taux_occupation,id_categorie,code_departement,region_code,mois,id_date,trimestre
56586,2020,Alpes-Maritimes,français,-300,-300,-300,1,6,93,mai,113,2
22924,2014,Jura,Non applicable,,,46.1,3,39,27,octobre,46,4
47928,2018,Essonne,français,,136.21,,1,91,11,novembre,95,4
31984,2016,Gironde,Non applicable,,,60.0,3,33,75,avril,64,2
56284,2020,Loiret,Non applicable,-300,-300,-300,3,45,24,avril,112,2
960,2011,Essonne,etrangers,9.58,,,2,91,11,fevrier,2,1
32255,2016,Vosges,etrangers,4.29,,,2,88,44,avril,64,2
58852,2020,Meurthe-et-Moselle,etrangers,,11.26,,2,54,44,septembre,117,3
59326,2020,Lozère,français,14.43,,,1,48,76,octobre,118,4
18468,2014,Moselle,français,,86.54,,1,57,44,janvier,37,1
31836,2016,Hautes-Alpes,français,24.01,,,1,5,93,avril,64,2
57155,2020,Corrèze,etrangers,-300,-300,-300,2,19,75,juin,114,2
46792,2018,Pyrénées-Orientales,etrangers,,36.78,,2,66,76,septembre,93,3
12118,2012,Mayotte,français,-300,-300,-300,1,976,6,decembre,24,4
25305,2015,Aveyron,etrangers,2.21,,,2,12,76,mars,51,1
46507,2018,Aube,etrangers,,23.19,,2,10,44,septembre,93,3
50955,2019,Essonne,etrangers,26.45,,,2,91,11,mai,101,2
38692,2017,Pas-de-Calais,etrangers,,84.79,,2,62,32,mai,77,2
48612,2019,Eure-et-Loir,etrangers,,5.49,,2,28,24,janvier,97,1
34087,2016,Manche,etrangers,,48.04,,2,50,28,aout,68,3

In [56]:
df_fusion2.columns

Index(['annee', 'nom_departement', 'categorie', 'arrivees', 'nuitees',
       'taux_occupation', 'id_categorie', 'code_departement', 'region_code',
       'mois', 'id_date', 'trimestre'],
      dtype='object')

In [57]:


df_fusion2= df_fusion2[['id_date','annee','mois','trimestre','id_categorie','categorie','code_departement',
                        'nom_departement','region_code','arrivees','nuitees','taux_occupation']] #reorganisation ordre colonne

df_fusion2.rename(columns={'region_code': 'code_region'}, inplace=True)
df_fusion2.sample(10)

,id_date,annee,mois,trimestre,id_categorie,categorie,code_departement,nom_departement,code_region,arrivees,nuitees,taux_occupation
4086,9,2011,septembre,3,1,français,10,Aube,44,35.02,,
51894,103,2019,juillet,3,3,Non applicable,76,Seine-Maritime,28,,,66.2
92,1,2011,janvier,1,2,etrangers,19,Corrèze,75,,0.63,
4621,10,2011,octobre,4,1,français,16,Charente,75,21.41,,
442,1,2011,janvier,1,2,etrangers,88,Vosges,44,,18.76,
27081,54,2015,juin,2,1,français,63,Puy-de-Dôme,84,84.92,,
38996,78,2017,juin,2,1,français,24,Dordogne,75,43.87,,
10053,20,2012,aout,3,1,français,91,Essonne,11,,119.8,
39380,78,2017,juin,2,2,etrangers,974,La Réunion,4,4.1,,
28734,57,2015,septembre,3,3,Non applicable,90,Territoire de Belfort,27,,,59.4

In [58]:
df_fusion2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60600 entries, 0 to 60599
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_date           60600 non-null  int64
 1   annee             60600 non-null  int64
 2   mois              60600 non-null  object
 3   trimestre         60600 non-null  int64
 4   id_categorie      60600 non-null  int64
 5   categorie         60600 non-null  object
 6   code_departement  60600 non-null  object
 7   nom_departement   60600 non-null  object
 8   code_region       60600 non-null  int64
 9   arrivees          60600 non-null  object
 10  nuitees           60600 non-null  object
 11  taux_occupation   60600 non-null  object
dtypes: int64(5), object(7)
memory usage: 6.0+ MB

In [ ]:
#enregistrer ces données dans gros csv que nous appelerons data_global1

df_fusion2.to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/data_global1.csv', index=False)

# table categorie touriste

In [59]:
# à partir de df_fusion2, suppression des colonnes inutiles et des duplicats
df_categorietouriste = df_fusion2.drop(['id_date','annee','mois','trimestre','code_departement',
                                        'nom_departement','code_region','arrivees','nuitees','taux_occupation'],1)
df_categorietouriste.drop_duplicates(inplace=True)
df_categorietouriste

   id_categorie       categorie
0             2       etrangers
1             1        français
4             3  Non applicable

In [60]:
#suppresion du 3 car non touriste
df_categorietouriste = df_categorietouriste[df_categorietouriste.id_categorie!=3]
df_categorietouriste

   id_categorie  categorie
0             2  etrangers
1             1   français

In [ ]:
#enregistrer ces données dans  csv que nous appelerons categorie_touriste

df_categorietouriste.to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/categorie_touristes.csv', index=False)

# table indicateurs_tourisme

In [61]:
# à partir de df_fusion2, suppression des colonnes inutiles et des duplicats
df_indicateurstourisme = df_fusion2.drop(['annee','mois','trimestre','categorie',
                                        'nom_departement','code_region'],1)

df_indicateurstourisme.sample(20)

       id_date  id_categorie code_departement arrivees nuitees taux_occupation
38548       77             1               33           321.15
51776      103             1               53    15.71
37963       76             1               18            54.48
22864       46             3               29                             46.1
7091        15             1                5    45.25
5723        12             1               33           172.65
32107       64             2               58             3.81
16266       33             1               23     8.62
51116      102             1               24    49.46
31040       62             2               47     1.06
16992       34             2               65            98.78
14220       29             2               17    11.12
24291       49             1               11    21.65
29128       58             1               68           141.23
28227       56             2               90            11.73
52804      105             3               56                             68.3
40664       81             3               52                             62.7
26638       53             1               75           932.15
34984       70             3               29                             53.0
9316        19             1               45     82.4

In [62]:
df_indicateurstourisme.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60600 entries, 0 to 60599
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_date           60600 non-null  int64
 1   id_categorie      60600 non-null  int64
 2   code_departement  60600 non-null  object
 3   arrivees          60600 non-null  object
 4   nuitees           60600 non-null  object
 5   taux_occupation   60600 non-null  object
dtypes: int64(2), object(4)
memory usage: 3.2+ MB

In [64]:
#enregistrer ces données dans  csv que nous appelerons indicateurs_tourisme4

df_indicateurstourisme.to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/indicateurs_tourisme4.csv', index=False)

In [65]:
df_indicateurstourisme2=pd.read_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/indicateurs_tourisme4.csv', sep=',')
df_indicateurstourisme2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60600 entries, 0 to 60599
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_date           60600 non-null  int64
 1   id_categorie      60600 non-null  int64
 2   code_departement  60600 non-null  object
 3   arrivees          26807 non-null  float64
 4   nuitees           26783 non-null  float64
 5   taux_occupation   15568 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.8+ MB

In [66]:
#pour supprimer les nan et avoir des élements uniques, nous allons faire un group by 
df_indicateurstourisme2.sample(100)

,id_date,id_categorie,code_departement,arrivees,nuitees,taux_occupation
611,2,1,23,5.01,NaN,NaN
12498,25,1,75,NaN,1011.02,NaN
48080,96,2,23,0.13,NaN,NaN
26162,52,2,81,NaN,3.57,NaN
59506,118,1,84,61.71,NaN,NaN
12606,25,1,972,29.78,NaN,NaN
23518,47,1,57,NaN,98.83,NaN
25386,51,1,29,62.44,NaN,NaN
50686,101,1,37,89.05,NaN,NaN
14666,30,1,5,30.62,NaN,NaN
59300,118,2,43,0.35,NaN,NaN
27640,55,2,74,103.50,NaN,NaN
18172,36,2,974,NaN,9.36,NaN
8283,17,1,40,NaN,87.25,NaN
7827,16,2,50,NaN,25.16,NaN
52318,104,1,60,NaN,95.23,NaN
1437,3,2,85,NaN,2.04,NaN
12537,25,2,83,NaN,9.63,NaN
13141,27,1,3,35.84,NaN,NaN
10957,22,2,70,NaN,0.78,NaN
7264,15,3,38,NaN,NaN,56.6
36469,73,3,23,NaN,NaN,34.2
33944,68,3,23,NaN,NaN,57.1
24945,50,2,40,1.36,NaN,NaN
21923,44,1,41,NaN,81.31,NaN
27962,56,2,37,NaN,101.42,NaN
30247,60,2,90,NaN,3.29,NaN
44326,88,1,78,96.26,NaN,NaN
5259,11,3,41,NaN,NaN,37.5
16430,33,2,54,14.59,NaN,NaN
50613,101,1,24,NaN,71.18,NaN
4804,10,3,51,NaN,NaN,64.0
40816,81,1,83,144.14,NaN,NaN
5392,11,2,68,NaN,48.09,NaN
36867,74,2,1,NaN,17.40,NaN
30644,61,3,68,NaN,NaN,35.3
32476,65,1,31,125.02,NaN,NaN
54177,108,2,2A,NaN,1.51,NaN
3831,8,1,59,122.30,NaN,NaN
21242,43,2,7,NaN,20.00,NaN
47251,94,1,57,85.30,NaN,NaN
4849,10,3,60,NaN,NaN,61.5
6072,13,2,3,NaN,3.96,NaN
55913,111,1,72,-300.00,-300.00,-300.0
543,2,1,8,NaN,13.64,NaN
60018,119,1,85,-300.00,-300.00,-300.0
9906,20,1,62,93.18,NaN,NaN
60197,120,2,22,-300.00,-300.00,-300.0
4319,9,3,55,NaN,NaN,50.0
26683,53,1,84,NaN,142.41,NaN
43721,87,1,58,17.28,NaN,NaN
351,1,1,70,7.59,NaN,NaN
33885,68,2,11,32.26,NaN,NaN
57766,115,1,39,34.06,NaN,NaN
35059,70,3,42,NaN,NaN,54.1
16495,33,2,67,83.06,NaN,NaN
13791,28,1,31,116.14,NaN,NaN
60302,120,2,41,-300.00,-300.00,-300.0
55490,110,2,89,-300.00,-300.00,-300.0
55406,110,1,72,-300.00,-300.00,-300.0
36918,74,1,11,NaN,39.37,NaN
20658,41,1,91,NaN,149.55,NaN
16082,32,2,85,NaN,12.57,NaN
8291,17,1,42,39.53,NaN,NaN
34236,68,1,80,43.31,NaN,NaN
42889,85,3,93,NaN,NaN,63.1
20951,42,1,49,76.86,NaN,NaN
12881,26,1,51,44.74,NaN,NaN
30306,61,1,2,15.73,NaN,NaN
32152,64,2,67,NaN,118.55,NaN
5921,12,1,73,75.49,NaN,NaN
12595,25,2,95,45.69,NaN,NaN
44066,88,1,28,31.76,NaN,NaN
57443,114,1,75,-300.00,-300.00,-300.0
49571,99,1,17,82.41,NaN,NaN
6740,14,2,35,5.32,NaN,NaN
19825,40,2,28,5.25,NaN,NaN
7643,16,1,14,NaN,208.48,NaN
36640,73,2,56,2.12,NaN,NaN
55192,110,2,2B,-300.00,-300.00,-300.0
45823,91,1,74,NaN,323.59,NaN
52919,105,3,79,NaN,NaN,60.6
497,1,2,974,NaN,6.37,NaN
12482,25,2,72,NaN,6.86,NaN
40645,81,2,49,11.63,NaN,NaN
38916,78,1,7,34.60,NaN,NaN
43190,86,2,53,0.54,NaN,NaN
30335,61,2,8,1.25,NaN,NaN
53963,107,1,86,NaN,83.19,NaN
15769,32,3,24,NaN,NaN,75.4
54479,108,3,88,NaN,NaN,44.1
15864,32,3,41,NaN,NaN,69.1
43935,88,2,1,14.48,NaN,NaN
37751,75,1,76,97.95,NaN,NaN
17691,36,1,4,13.03,NaN,NaN
17566,35,1,79,18.99,NaN,NaN
45687,91,2,47,NaN,5.68,NaN
59877,119,2,57,-300.00,-300.00,-300.0
43199,86,3,54,NaN,NaN,55.1
41338,82,1,86,NaN,130.89,NaN

In [68]:
                         #on fait un groupby afin d'avoir des indicateurs uniques
df_indicateurstourisme2= df_indicateurstourisme2.groupby(["id_date","id_categorie","code_departement"])[["arrivees","nuitees",'taux_occupation']].sum()
df_indicateurstourisme2.sample(100)

                                       arrivees  nuitees  taux_occupation
id_date id_categorie code_departement
63      3            5                     0.00     0.00             51.0
80      3            32                    0.00     0.00             55.6
32      2            90                    5.21     7.21              0.0
120     2            95                 -600.00  -600.00           -600.0
78      3            62                    0.00     0.00             66.8
19      3            31                    0.00     0.00             59.2
81      2            5                     6.84     9.35              0.0
57      1            95                  143.49   220.64              0.0
94      2            52                    3.92     5.22              0.0
101     2            18                    7.39     9.23              0.0
4       2            91                   18.08    32.28              0.0
52      3            1                     0.00     0.00             49.7
31      3            2                     0.00     0.00             55.2
39      1            11                   29.54    40.59              0.0
76      3            86                    0.00     0.00             67.4
75      2            13                   35.52    70.33              0.0
85      3            50                    0.00     0.00             39.8
80      1            8                    13.12    23.17              0.0
10      1            85                   43.51    73.86              0.0
29      2            17                   11.12    21.80              0.0
93      2            81                    5.34     9.84              0.0
86      1            70                    5.63     8.02              0.0
92      1            60                   47.80    83.90              0.0
91      2            93                  122.25   230.97              0.0
9       2            42                    4.57     6.40              0.0
101     2            86                    9.51    13.40              0.0
26      2            6                    64.14   148.70              0.0
81      1            4                    27.78    52.68              0.0
33      2            86                   10.57    14.99              0.0
39      1            82                   18.41    21.38              0.0
63      1            26                   53.88    70.13              0.0
46      1            10                   35.42    52.22              0.0
39      2            5                     1.88     5.43              0.0
86      1            51                   42.15    63.29              0.0
105     2            23                    0.63     0.91              0.0
12      1            14                   83.80   131.37              0.0
30      2            81                    3.66     5.79              0.0
118     2            93                   11.15    16.89              0.0
86      2            7                     0.82     1.17              0.0
74      1            24                   22.40    31.45              0.0
7       2            81                    4.78     8.88              0.0
36      3            42                    0.00     0.00             41.3
98      1            74                  149.32   341.46              0.0
22      2            62                   40.78    61.61              0.0
7       2            21                  125.16   153.78              0.0
92      1            81                   27.39    43.77              0.0
14      2            69                   38.10    57.05              0.0
2       2            6                    65.92   144.30              0.0
3       1            24                   30.33    42.64              0.0
69      1            72                   44.18    64.46              0.0
100     1            15                   17.10    25.49              0.0
52      2            73                   35.55   106.86              0.0
64      3            75                    0.00     0.00             67.2
91      1            86                  101.00   154.35              0.0
101     1            78                   94.40   148.02              0.0
14      1            45                   47.80    80.54              0.0
99      3            54                    0.00     0.00             58.8
115     2            74                   41.66    82.38              0.0
50      2            36                    0.78     1.18              0.0
97      2            22                    1.36     2.40              0.0
16      3            44                    0.00     0.00             53.7
90      2            72                   12.06    25.27              0.0
58      1            51                   60.44    89.34              0.0
12      2            94                   28.89    55.67              0.0
3       3            2                     0.00     0.00             48.9
113     2            18                 -600.00  -600.00           -600.0
97      2            83                    9.27    17.16              0.0
24      3            11                    0.00     0.00             32.0
73      2            82                    1.21     1.53              0.0
25      2            15                    0.32     0.54              0.0
19      2            72                   10.88    16.49              0.0
53      2            50                   17.92    28.04              0.0
22      3            68                    0.00     0.00             57.6
2       2            67                   30.19    50.64              0.0
24      3            76                    0.00     0.00             41.4
8       2            91                   26.99    47.85              0.0
74      3            8                     0.00     0.00             41.3
87      2            33                   36.66    60.33              0.0
64      1            32                    9.43    14.92              0.0
        3            8                     0.00     0.00             47.2
110     1            57                 -600.00  -600.00           -600.0
74      1            4                    17.86    37.47              0.0
2       2            82                    0.14     0.24              0.0
82      1            58                   21.99    33.47              0.0
44      2            84                   87.20   160.89              0.0
2       2            39                    2.67     4.33              0.0
63      2            39                    4.35     6.58              0.0
47      3            42                    0.00     0.00             48.5
23      3            46                    0.00     0.00             33.0
91      1            41                   62.96    91.77              0.0
93      3            4                     0.00     0.00             53.6
8       2            48                    6.38    10.47              0.0
14      3            1                     0.00     0.00             50.4
16      1            2B                   32.42    53.68              0.0
40      3            14                    0.00     0.00             54.6
44      3            52                    0.00     0.00             54.0
66      3            16                    0.00     0.00            114.8
61      3            86                    0.00     0.00             32.2
5       2            50                   18.12    26.47              0.0
41      2            33                   41.37    69.26              0.0

In [70]:
total_nan_values = df_indicateurstourisme2.isna().sum().sum()
total_nan_values

0

In [71]:
#affectation de la valeur 0 à tous les indicateurs auxquelles nous avions affecté une valeur arbitraire de 300 au debut 
df_indicateurstourisme2['arrivees']= df_indicateurstourisme2['arrivees'].replace([-600,-300],0)
df_indicateurstourisme2['nuitees']= df_indicateurstourisme2['nuitees'].replace([-600,-300],0)
df_indicateurstourisme2['taux_occupation']= df_indicateurstourisme2['taux_occupation'].replace([-600,-300],0)
df_indicateurstourisme2.sample(100)

                                       arrivees  nuitees  taux_occupation
id_date id_categorie code_departement
31      3            85                    0.00     0.00             63.2
67      1            64                  143.85   254.41              0.0
36      3            48                    0.00     0.00             22.3
58      3            65                    0.00     0.00             47.0
11      3            49                    0.00     0.00             50.7
78      1            11                   46.25    70.27              0.0
50      3            32                    0.00     0.00             28.8
65      2            19                    3.45     4.94              0.0
110     1            85                    0.00     0.00              0.0
103     1            45                   82.55   114.88              0.0
20      3            974                   0.00     0.00             49.8
96      2            56                    3.57     6.13              0.0
15      1            78                   92.64   163.16              0.0
58      1            8                    13.31    21.55              0.0
4       3            83                    0.00     0.00             47.9
77      2            2B                   16.98    35.72              0.0
64      2            85                    2.55     5.09              0.0
81      1            75                  583.11  1009.06              0.0
66      3            62                    0.00     0.00             71.5
28      3            89                    0.00     0.00             45.8
32      2            12                    9.46    15.30              0.0
13      3            64                    0.00     0.00             35.7
63      1            2                    21.54    31.10              0.0
3       2            89                    2.85     3.97              0.0
29      3            95                    0.00     0.00             71.1
114     3            24                    0.00     0.00              0.0
21      3            47                    0.00     0.00             56.0
64      3            69                    0.00     0.00             59.4
22      1            14                  115.37   179.45              0.0
88      3            62                    0.00     0.00             60.9
120     2            35                    0.00     0.00              0.0
30      2            31                   36.44    67.11              0.0
111     1            44                    0.00     0.00              0.0
37      2            74                   51.43   146.44              0.0
10      2            73                    6.50    11.49              0.0
47      3            73                    0.00     0.00             39.6
110     1            976                   0.00     0.00              0.0
38      1            15                   13.49    22.08              0.0
58      1            71                   63.48    86.73              0.0
62      3            16                    0.00     0.00             49.2
24      3            22                    0.00     0.00             35.6
119     1            76                    0.00     0.00              0.0
23      3            64                    0.00     0.00             42.3
75      3            8                     0.00     0.00             46.6
19      3            57                    0.00     0.00             57.3
38      3            971                   0.00     0.00             76.3
70      1            68                   95.07   149.03              0.0
91      3            12                    0.00     0.00             54.1
54      1            71                   71.99   100.96              0.0
31      1            38                  113.91   189.88              0.0
89      2            42                    2.67     4.29              0.0
28      3            971                   0.00     0.00             60.3
91      1            8                    11.50    19.44              0.0
66      3            35                    0.00     0.00             68.4
70      3            55                    0.00     0.00             49.3
48      2            45                    5.16     7.50              0.0
91      1            23                    9.60    13.56              0.0
37      2            37                    7.86    10.76              0.0
36      2            40                    1.26     2.48              0.0
42      2            5                     9.04    14.70              0.0
80      3            23                    0.00     0.00             57.4
8       3            973                   0.00     0.00             54.3
58      1            33                  176.29   278.65              0.0
71      2            56                    2.98     6.37              0.0
52      3            12                    0.00     0.00             37.6
30      1            65                   57.07   137.93              0.0
6       2            2                     9.62    13.71              0.0
87      3            44                    0.00     0.00             60.9
46      2            24                   10.37    22.00              0.0
117     2            68                   30.64    49.82              0.0
53      3            8                     0.00     0.00             51.5
96      1            15                   10.80    15.96              0.0
113     2            85                    0.00     0.00              0.0
62      2            79                    1.40     1.99              0.0
109     2            82                    0.00     0.00              0.0
80      2            52                   10.36    12.05              0.0
109     2            51                    0.00     0.00              0.0
106     3            32                    0.00     0.00             50.3
93      3            14                    0.00     0.00             71.6
99      3            88                    0.00     0.00             47.7
89      2            54                   17.96    24.52              0.0
37      1            66                   34.67    54.62              0.0
104     1            93                  138.19   238.45              0.0
108     2            50                    5.94     8.32              0.0
32      1            47                   36.38    47.76              0.0
104     3            17                    0.00     0.00             87.6
73      1            12                   13.60    20.29              0.0
3       3            972                   0.00     0.00             67.7
91      2            46                   11.54    20.65              0.0
120     3            94                    0.00     0.00              0.0
24      1            35                   93.43   139.30              0.0
56      3            91                    0.00     0.00             58.8
76      1            54                   44.39    68.13              0.0
8       1            74                  185.30   445.59              0.0
50      2            976                -299.80     0.00              0.0
45      1            78                  110.31   179.05              0.0
120     3            92                    0.00     0.00              0.0
39      3            95                    0.00     0.00             64.6
82      2            76                   20.86    32.75              0.0
81      3            24                    0.00     0.00             64.1

In [72]:
all_indicateurs= df_indicateurstourisme2.groupby(["id_date","id_categorie","code_departement"])[["arrivees","nuitees"]].sum().to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/indicateur_global.csv', index=True)

In [73]:
#dans le fichier enregistré précédemment, suppression de l'id catégorie 3
indicateurs_sejour = pd.read_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/indicateur_global.csv', sep=',')

indicateurs_sejour= indicateurs_sejour[indicateurs_sejour.id_categorie!= 3]

indicateurs_sejour.sample(100)

       id_date  id_categorie code_departement  arrivees  nuitees
11297       38             1               87     24.37    35.59
11302       38             1               91     68.96   119.71
19717       66             1               2B     55.91   120.68
3214        11             2               84     11.08    18.16
20329       68             1               34    200.85   401.63
17130       57             2               64     31.20    60.09
6069        21             1               18     35.17    52.39
28202       94             1                3     45.06    67.96
26794       89             2               35     32.35    55.03
7468        25             2               95     45.69    66.66
5957        20             2              974      3.97     8.67
18202       61             1               2B      6.91     9.94
19176       64             1               88     30.43    48.98
18266       61             1               87     25.55    36.90
25833       86             1                8      8.34    15.01
21586       72             1               75    642.16  1124.39
8184        28             1               12     31.90    46.68
1274         5             1               65     57.77   139.92
3093        11             1               66     34.14    54.86
8032        27             2               57     14.91    20.71
16458       55             1              971     16.06    52.17
5214        18             1               66     62.58   126.45
5157        18             1               15     27.53    47.27
5313        18             2               64     25.53    50.23
15471       52             1               27     29.10    43.24
4584        16             1               44    138.15   218.18
30965      103             1               62    101.45   168.76
29783       99             1                9      8.72    15.06
3657        13             1               2A      8.79    16.00
9755        33             1               62     86.57   131.09
30450      101             2               53      2.15     3.47
1859         7             1               46     42.11    68.53
20746       69             2               46      9.41    17.86
35800      119             1               50      0.00     0.00
16971       57             1               12     45.20    75.17
33749      112             2               24      0.00     0.00
32187      107             1               71     52.12    74.02
5337        18             2               86      9.09    13.09
19803       66             2               16      3.84     6.22
33674      112             1               46      0.00     0.00
8025        27             2               50     14.57    19.89
16368       55             1               15     38.65    59.84
30915      103             1               18     47.88    60.46
33161      110             2               39      0.00     0.00
3046        11             1               25     42.70    62.53
34925      116             1               81     31.80    51.96
10182       34             2               83     22.93    56.42
30803      102             2              974      4.71    12.80
4989        17             2               45     13.58    19.71
11055       37             2               50      4.35     6.50
2311         8             2                9      5.76     8.90
25886       86             2               36      1.34     2.46
6783        23             2               25      3.59     6.05
17101       57             2               38     25.60    39.28
11707       39             2               92     71.27   155.94
10352       35             1               54     47.02    72.54
34923      116             1                8     12.39    19.58
16553       55             2               90      7.40     9.13
25606       85             2               57     17.08    24.24
20707       69             2               11     26.25    40.35
2561         9             2               41     16.08    25.72
32924      109             2              974      0.00     0.00
12495       42             1               74    136.87   245.22
10035       34             1               41     40.38    56.38
28570       95             1               89     30.48    41.61
20118       67             2               28     15.18    17.97
9703        33             1               16     23.85    35.70
30191      100             2               93    100.75   196.63
486          2             2               83      6.27    11.83
32121      107             1               12     25.40    37.65
17885       60             1               17     59.04    91.20
5592        19             2               42      5.45     6.88
22282       74             2               65     13.90    29.62
22880       76             2               58      3.35     4.56
22276       74             2                6     73.57   163.20
9553        32             2               62     94.64   136.20
5293        18             2               46      9.20    15.11
33457      111             2               32      0.00     0.00
25333       84             2               84     12.71    20.10
31254      104             1                5     58.68   126.25
22610       75             2               88      5.71    12.20
12822       43             1              971     25.36    61.89
20189       67             2               90      7.11     9.77
26484       88             2               2B      8.70    16.37
34254      114             1               24      0.00     0.00
11705       39             2               90      1.83     3.14
1645         6             2               35     30.88    55.74
10330       35             1               34    114.44   189.86
13666       46             1               37     71.86   105.29
28812       96             1               33    143.88   218.76
12770       43             1               49     72.04   104.75
3754        13             2               26      6.49    10.82
8273        28             1               92    148.62   267.38
10319       35             1               26     40.62    57.80
5290        18             2               43      2.74     4.10
30159      100             2               64     20.25    34.13
10425       35             2               2B      1.13     2.77
24368       81             2               33     65.29   118.87
4416        15             2               75    696.10  1790.68
24945       83             1              974     54.63   120.26

In [ ]:
indicateurs_sejour.to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/indicateurs_sejour.csv', index=False)

# table taux occupation

In [ ]:
df_indicateurstourisme2.groupby(["id_date","id_categorie","code_departement"])[["taux_occupation"]].sum().to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/indicateur_occupation.csv', index=True)

In [74]:
taux_occupation= pd.read_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/indicateur_occupation.csv', sep=',')

In [ ]:
taux_occupation= taux_occupation[taux_occupation.id_categorie== 3]

In [75]:
taux_occupation.sample(100)

       id_date  id_categorie code_departement  taux_occupation
9879        33             2               83              0.0
398          2             1               95              0.0
8596        29             2                2              0.0
34711      115             2               70              0.0
6841        23             2               76              0.0
23879       79             3               48             56.6
34636      115             1               94              0.0
24893       83             1               51              0.0
30349      101             1               53              0.0
32602      108             2               81              0.0
8145        27             3               68             43.7
18851       63             1               68              0.0
22470       75             1               52              0.0
7830        26             3               57             48.2
34525      114             3               85              0.0
31588      105             1               78              0.0
2274         8             2               56              0.0
5053        17             3               12             44.2
3283        11             3               55             39.4
25174       84             1               31              0.0
36080      120             1                3              0.0
6307        21             3                5             45.1
1136         4             3               31             58.2
1710         6             2               94              0.0
9224        31             2               39              0.0
21207       70             3              973             53.6
21694       72             2               81              0.0
3678        13             1               47              0.0
1497         5             3               84             60.4
8782        29             3              971             54.4
14839       49             3               93             59.7
16170       54             2               19              0.0
15091       50             3               47             46.8
17086       57             2               26              0.0
25669       85             3               24             32.5
33133      110             2               14              0.0
13872       46             3               40             51.5
4253        15             1                2              0.0
31197      103             3                9             55.1
6492        22             2               34              0.0
2991        10             3               65             47.3
8001        27             2               2B              0.0
13631       45             3              972             35.0
3494        12             2               63              0.0
8386        28             3               12             32.9
22173       74             1               58              0.0
5090        17             3               45             58.3
27778       92             3               12             64.4
4061        14             2               2A              0.0
13790       46             2               58              0.0
16067       54             1               17              0.0
527          2             3               2B             29.9
35663      118             3               19             46.2
11761       39             3                5             47.8
4202        14             3               64             37.6
28477       94             3              971             45.8
18863       63             1               79              0.0
30454      101             2               57              0.0
278          1             3               78             54.2
7291        25             1               28              0.0
11453       38             3               45             47.5
1482         5             3               70             45.6
34979      116             2               39              0.0
19280       64             2               90              0.0
27431       91             2               63              0.0
2404         8             3               82             61.8
5828        20             1               73              0.0
23747       79             2               21              0.0
30812      102             3               16             61.0
35825      119             1               73              0.0
24093       80             2               59              0.0
11435       38             3               2B             28.8
2110         7             3               90             57.5
23746       79             2                2              0.0
2912        10             2               85              0.0
14577       49             1               39              0.0
15827       53             1               73              0.0
20336       68             1               40              0.0
12030       40             3                2             53.0
4434        15             2               91              0.0
1882         7             1               67              0.0
821          3             3               22             38.6
7164        24             2               94              0.0
6159        21             1              974              0.0
26267       87             3               16             51.5
21503       71             3               91             62.6
29442       98             1               55              0.0
25740       85             3               87             42.8
23627       78             3               94             79.7
14185       47             3                5             29.9
8117        27             3               42             52.5
17731       59             2                6              0.0
20801       69             2              971              0.0
5532        19             1                8              0.0
8170        27             3               90             47.4
19896       66             2              976              0.0
34976      116             2               36              0.0
22869       76             2               48              0.0
14083       47             2               49              0.0
16954       56             3               88             55.5

In [ ]:
taux_occupation.to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/occupation_hotel.csv', index=False)

# table des dates

In [76]:
df_tabledate= df_fusion2.drop(['id_categorie','categorie','code_departement','nom_departement',
                               'code_region','arrivees','nuitees','taux_occupation'],1)

df_tabledate.head()

   id_date  annee     mois  trimestre
0        1   2011  janvier          1
1        1   2011  janvier          1
2        1   2011  janvier          1
3        1   2011  janvier          1
4        1   2011  janvier          1

In [77]:
df_tabledate.sample(20)

       id_date  annee      mois  trimestre
3040         7   2011   juillet          3
15035       30   2013      juin          2
4545        10   2011   octobre          4
25945       52   2015     avril          2
49642       99   2019      mars          1
25907       52   2015     avril          2
46980       94   2018   octobre          4
35911       72   2016  decembre          4
33195       66   2016      juin          2
53043      106   2019   octobre          4
16808       34   2013   octobre          4
22153       44   2014      aout          3
24793       50   2015   fevrier          1
9788        20   2012      aout          3
9157        19   2012   juillet          3
47770       95   2018  novembre          4
44021       88   2018     avril          2
31787       63   2016      mars          1
37111       74   2017   fevrier          1
23424       47   2014  novembre          4

In [78]:
df_tabledate.drop_duplicates(inplace=True) #suppression des duplicats

In [79]:
df_tabledate['id_date'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120], dtype=int64)

In [ ]:
#enregistrer ces données dans  csv que nous appelerons table_date

df_tabledate.to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/table_date.csv', index=False)

# table departement

In [80]:
df_tabledepartement= df_fusion2.drop(['annee','mois','trimestre','id_date','id_categorie','categorie','arrivees','nuitees',
                                      'taux_occupation'],1)
#df_tabledepartement.drop_duplicates(inplace=True) #suppression des duplicats

df_tabledepartement['nom_departement'].unique()

array(['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence',
       'Hautes-Alpes', 'Alpes-Maritimes', 'Ardèche', 'Ardennes', 'Ariège',
       'Aube', 'Aude', 'Aveyron', 'Bouches-du-Rhône', 'Calvados',
       'Cantal', 'Charente', 'Charente-Maritime', 'Cher', 'Corrèze',
       "Côte-d'Or", "Côtes-d'Armor", 'Creuse', 'Dordogne', 'Doubs',
       'Drôme', 'Eure', 'Eure-et-Loir', 'Finistère', 'Corse-du-Sud',
       'Haute-Corse', 'Gard', 'Haute-Garonne', 'Gers', 'Gironde',
       'Hérault', 'Ille-et-Vilaine', 'Indre', 'Indre-et-Loire', 'Isère',
       'Jura', 'Landes', 'Loir-et-Cher', 'Loire', 'Haute-Loire',
       'Loire-Atlantique', 'Loiret', 'Lot', 'Lot-et-Garonne', 'Lozère',
       'Maine-et-Loire', 'Manche', 'Marne', 'Haute-Marne', 'Mayenne',
       'Meurthe-et-Moselle', 'Meuse', 'Morbihan', 'Moselle', 'Nièvre',
       'Nord', 'Oise', 'Orne', 'Pas-de-Calais', 'Puy-de-Dôme',
       'Pyrénées-Atlantiques', 'Hautes-Pyrénées', 'Pyrénées-Orientales',
       'Bas-Rhin', 'Haut-Rhin', 'Rhône', 'Haute-Saône', 'Saône-et-Loire',
       'Sarthe', 'Savoie', 'Haute-Savoie', 'Paris', 'Seine-Maritime',
       'Seine-et-Marne', 'Yvelines', 'Deux-Sèvres', 'Somme', 'Tarn',
       'Tarn-et-Garonne', 'Var', 'Vaucluse', 'Vendée', 'Vienne',
       'Haute-Vienne', 'Vosges', 'Yonne', 'Territoire de Belfort',
       'Essonne', 'Hauts-de-Seine', 'Seine-Saint-Denis', 'Val-de-Marne',
       "Val-d'Oise", 'Guadeloupe', 'Martinique', 'Guyane', 'La Réunion',
       'Mayotte'], dtype=object)

In [81]:
df_tabledepartement.drop_duplicates(inplace=True) #suppression des duplicats

In [82]:
df_tabledepartement['nom_departement'].unique()

array(['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence',
       'Hautes-Alpes', 'Alpes-Maritimes', 'Ardèche', 'Ardennes', 'Ariège',
       'Aube', 'Aude', 'Aveyron', 'Bouches-du-Rhône', 'Calvados',
       'Cantal', 'Charente', 'Charente-Maritime', 'Cher', 'Corrèze',
       "Côte-d'Or", "Côtes-d'Armor", 'Creuse', 'Dordogne', 'Doubs',
       'Drôme', 'Eure', 'Eure-et-Loir', 'Finistère', 'Corse-du-Sud',
       'Haute-Corse', 'Gard', 'Haute-Garonne', 'Gers', 'Gironde',
       'Hérault', 'Ille-et-Vilaine', 'Indre', 'Indre-et-Loire', 'Isère',
       'Jura', 'Landes', 'Loir-et-Cher', 'Loire', 'Haute-Loire',
       'Loire-Atlantique', 'Loiret', 'Lot', 'Lot-et-Garonne', 'Lozère',
       'Maine-et-Loire', 'Manche', 'Marne', 'Haute-Marne', 'Mayenne',
       'Meurthe-et-Moselle', 'Meuse', 'Morbihan', 'Moselle', 'Nièvre',
       'Nord', 'Oise', 'Orne', 'Pas-de-Calais', 'Puy-de-Dôme',
       'Pyrénées-Atlantiques', 'Hautes-Pyrénées', 'Pyrénées-Orientales',
       'Bas-Rhin', 'Haut-Rhin', 'Rhône', 'Haute-Saône', 'Saône-et-Loire',
       'Sarthe', 'Savoie', 'Haute-Savoie', 'Paris', 'Seine-Maritime',
       'Seine-et-Marne', 'Yvelines', 'Deux-Sèvres', 'Somme', 'Tarn',
       'Tarn-et-Garonne', 'Var', 'Vaucluse', 'Vendée', 'Vienne',
       'Haute-Vienne', 'Vosges', 'Yonne', 'Territoire de Belfort',
       'Essonne', 'Hauts-de-Seine', 'Seine-Saint-Denis', 'Val-de-Marne',
       "Val-d'Oise", 'Guadeloupe', 'Martinique', 'Guyane', 'La Réunion',
       'Mayotte'], dtype=object)

In [ ]:
df_tabledepartement.to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/departement.csv', index=False)

# Traitement du dataframe csv provenance touristes étrangers .

In [83]:
#Traitement du dataframe csv provenance touristes étrangers . Nous l'appelerons df_provenance_etrangers
#données disponibles uniquement pour la destination France Métropolitaine

df_provenance_etrangers=pd.read_csv('data/data_avec_pays_origine/valeurs_trimestrielles.csv', sep=';')
df_provenance_etrangers.sample(10)

,Libellé,idBank,Dernière mise à jour,Période,2011-T1,2011-T2,2011-T3,2011-T4,2012-T1,2012-T2,...,2017-T3,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4
2,Evolution des nuitées en glissement trimestrie...,10569951.0,07/02/2020 12:00,NaN,2.2,3.1,3.0,4.6,2.3,-1.2,...,5.3,5.1,4.7,1.3,2.0,1.5,-0.9,2.4,0.4,1.0
19,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
27,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
31,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
35,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
29,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
23,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
4,Evolution des nuitées en glissement trimestrie...,10569952.0,07/02/2020 12:00,NaN,NaN,NaN,NaN,NaN,3.8,0.7,...,6.6,16.3,11.8,3.7,-0.9,3.6,-4.9,2.6,2.6,0.1
15,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,P

In [84]:
#Pour créer la colonne variable qui contient toutes les années et mois, nous allons utiliser la méthode melt. 
#Nous allons prendre toutes les colonnes qui se trouvent après le 4ème élement jusqu'au dernier.

df_provenance_etrangers=pd.melt(df_provenance_etrangers, id_vars ='Libellé', value_vars =df_provenance_etrangers.columns[4:])
df_provenance_etrangers.head(10)

                                             Libellé variable value
0  Evolution des nuitées en glissement trimestrie...  2011-T1   NaN
1                                              Codes  2011-T1     O
2  Evolution des nuitées en glissement trimestrie...  2011-T1   2.2
3                                              Codes  2011-T1     A
4  Evolution des nuitées en glissement trimestrie...  2011-T1   NaN
5                                              Codes  2011-T1   NaN
6  Nuitées dans l'hôtellerie en provenance - Amér...  2011-T1   385
7                                              Codes  2011-T1     A
8  Nuitées dans l'hôtellerie en provenance - Afri...  2011-T1   219
9                                              Codes  2011-T1     A

In [85]:
df_provenance_etrangers['Annee'] = df_provenance_etrangers['variable'].apply(lambda x: x.split('-')[0])
df_provenance_etrangers['Trimestre'] = df_provenance_etrangers['variable'].apply(lambda x: x.split('-')[1])

df_provenance_etrangers.sample(10)

,Libellé,variable,value,Annee,Trimestre
1050,Nuitées dans l'hôtellerie en provenance - Alle...,2017-T3,2443,2017,T3
1431,Codes,2019-T4,A,2019,T4
1250,Nuitées dans l'hôtellerie en provenance - Alle...,2018-T4,1328,2018,T4
161,Codes,2012-T1,O,2012,T1
12,Nuitées dans l'hôtellerie en provenance - Amér...,2011-T1,1304,2011,T1
702,Nuitées dans l'hôtellerie en provenance - Etat...,2015-T2,2471,2015,T2
404,Evolution des nuitées en glissement trimestrie...,2013-T3,0.2,2013,T3
44,Evolution des nuitées en glissement trimestrie...,2011-T2,NaN,2011,T2
17,Codes,2011-T1,A,2011,T1
260,Nuitées dans l'hôtellerie en provenance - Espa...,2012-T3,1769,2012,T3

In [86]:
df_provenance_etrangers['Libellé'].unique()

array(['Evolution des nuitées en glissement trimestriel (%) dans l’hôtellerie de plein air - France métropolitaine',
       'Codes',
       'Evolution des nuitées en glissement trimestriel (%) dans l’hôtellerie - France métropolitaine',
       'Evolution des nuitées en glissement trimestriel (%) dans les Autres Hébergements Collectifs Touristiques - France métropolitaine',
       "Nuitées dans l'hôtellerie en provenance - Amérique centrale et du Sud - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Afrique - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Allemagne - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Amérique - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Asie et Océanie - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Belgique - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Chine - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Espagne - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Etats-Unis - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Europe hors France - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Italie - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Japon - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Pays-Bas - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Proche et Moyen-Orient - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Royaume-Uni - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Russie - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Suisse - France métropolitaine"],
      dtype=object)

In [87]:
#suppression des lignes dont nous n'avons pas besoin
df_provenance_etrangers= df_provenance_etrangers[~df_provenance_etrangers['Libellé'].str.contains("Evolution")]
df_provenance_etrangers= df_provenance_etrangers[~df_provenance_etrangers['Libellé'].str.contains("Codes")]

df_provenance_etrangers['Libellé'].unique()

array(["Nuitées dans l'hôtellerie en provenance - Amérique centrale et du Sud - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Afrique - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Allemagne - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Amérique - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Asie et Océanie - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Belgique - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Chine - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Espagne - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Etats-Unis - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Europe hors France - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Italie - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Japon - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Pays-Bas - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Proche et Moyen-Orient - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Royaume-Uni - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Russie - France métropolitaine",
       "Nuitées dans l'hôtellerie en provenance - Suisse - France métropolitaine"],
      dtype=object)

In [88]:
#création de 2 colonnes "provenance" et destination en France (Territoire) à partir de la colonne Libellé
df_provenance_etrangers['provenance'] = df_provenance_etrangers['Libellé'].apply(lambda x: x.split(' - ')[1])
df_provenance_etrangers['Territoire'] = df_provenance_etrangers['Libellé'].apply(lambda x: x.split(' - ')[-1])

df_provenance_etrangers.head()

,Libellé,variable,value,Annee,Trimestre,provenance,Territoire
6,Nuitées dans l'hôtellerie en provenance - Amér...,2011-T1,385,2011,T1,Amérique centrale et du Sud,France métropolitaine
8,Nuitées dans l'hôtellerie en provenance - Afri...,2011-T1,219,2011,T1,Afrique,France métropolitaine
10,Nuitées dans l'hôtellerie en provenance - Alle...,2011-T1,764,2011,T1,Allemagne,France métropolitaine
12,Nuitées dans l'hôtellerie en provenance - Amér...,2011-T1,1304,2011,T1,Amérique,France métropolitaine
14,Nuitées dans l'hôtellerie en provenance - Asie...,2011-T1,1375,2011,T1,Asie et Océanie,France métropolitaine

In [89]:
#suppression des colonnes Libellé et variable
#reorganisation du dataframe 
#renommer colonne value car c'est un mot reservé sql
df_provenance_etrangers.drop(columns=["Libellé","variable"],inplace=True)
df_provenance_etrangers = df_provenance_etrangers[['Annee','Trimestre','value','provenance','Territoire']]
df_provenance_etrangers.rename(columns={'value': 'quantite','Territoire':'destination','Annee':'annee','Trimestre':'trimestre'}, inplace=True)
df_provenance_etrangers.head()

,annee,trimestre,quantite,provenance,destination
6,2011,T1,385,Amérique centrale et du Sud,France métropolitaine
8,2011,T1,219,Afrique,France métropolitaine
10,2011,T1,764,Allemagne,France métropolitaine
12,2011,T1,1304,Amérique,France métropolitaine
14,2011,T1,1375,Asie et Océanie,France métropolitaine

In [90]:
df_provenance_etrangers.sample(20)

,annee,trimestre,quantite,provenance,destination
464,2013,T4,8738,Europe hors France,France métropolitaine
1246,2018,T4,646,Amérique centrale et du Sud,France métropolitaine
1188,2018,T2,350,Japon,France métropolitaine
172,2012,T1,1370,Amérique,France métropolitaine
1384,2019,T3,17842,Europe hors France,France métropolitaine
816,2016,T1,935,Belgique,France métropolitaine
1192,2018,T2,533,Proche et Moyen-Orient,France métropolitaine
674,2015,T1,2302,Royaume-Uni,France métropolitaine
1106,2017,T4,851,Italie,France métropolitaine
418,2013,T3,749,Chine,France métropolitaine
1198,2018,T2,958,Suisse,France métropolitaine
910,2016,T3,1234,Pays-Bas,France métropolitaine
666,2015,T1,883,Italie,France métropolitaine
1386,2019,T3,1872,Italie,France métropolitaine
1190,2018,T2,860,Pays-Bas,France métropolitaine
130,2011,T4,1071,Allemagne,France métropolitaine
854,2016,T2,2455,Asie et Océanie,France métropolitaine
874,2016,T2,2964,Royaume-Uni,France métropolitaine
328,2013,T1,274,Afrique,France métropolitaine
144,2011,T4,8523,Europe hors France,France métropolitaine

In [91]:

df_provenance_etrangers['trimestre'].unique()

array(['T1', 'T2', 'T3', 'T4'], dtype=object)

In [92]:
#Uniformisation de la colonne trimestre
dic_trimestre ={'T1':1, 'T2':2, 'T3':3,'T4':4} 

df_provenance_etrangers['trimestre'] = df_provenance_etrangers['trimestre'].apply(set_values, args =(dic_trimestre, )) 

df_provenance_etrangers.sample(20)

,annee,trimestre,quantite,provenance,destination
286,2012,4,552,Amérique centrale et du Sud,France métropolitaine
1418,2019,4,631,Chine,France métropolitaine
1254,2018,4,2429,Asie et Océanie,France métropolitaine
48,2011,2,275,Afrique,France métropolitaine
980,2017,1,710,Espagne,France métropolitaine
832,2016,1,373,Proche et Moyen-Orient,France métropolitaine
412,2013,3,3714,Amérique,France métropolitaine
144,2011,4,8523,Europe hors France,France métropolitaine
866,2016,2,1023,Italie,France métropolitaine
858,2016,2,636,Chine,France métropolitaine
654,2015,1,1715,Asie et Océanie,France métropolitaine
756,2015,3,461,Russie,France métropolitaine
304,2012,4,8745,Europe hors France,France métropolitaine
1252,2018,4,2780,Amérique,France métropolitaine
1132,2018,1,2035,Amérique,France métropolitaine
430,2013,3,1207,Pays-Bas,France métropolitaine
1144,2018,1,9158,Europe hors France,France métropolitaine
582,2014,3,2529,Etats-Unis,France métropolitaine
860,2016,2,1104,Espagne,France métropolitaine
406,2013,3,841,Amérique centrale et du Sud,France métropolitaine

In [93]:
df_provenance_etrangers['provenance'].unique()

array(['Amérique centrale et du Sud', 'Afrique', 'Allemagne', 'Amérique',
       'Asie et Océanie', 'Belgique', 'Chine', 'Espagne', 'Etats-Unis',
       'Europe hors France', 'Italie', 'Japon', 'Pays-Bas',
       'Proche et Moyen-Orient', 'Royaume-Uni', 'Russie', 'Suisse'],
      dtype=object)

In [94]:
#Création d'une colonne id_provenance
dic_provenance ={'Amérique centrale et du Sud':1, 'Afrique':2, 'Allemagne':3, 'Amérique':4,'Asie et Océanie':5, 
                 'Belgique':6, 'Chine':7, 'Espagne':8, 'Etats-Unis':9,'Europe hors France':10, 'Italie':11, 'Japon':12, 
                 'Pays-Bas':13,'Proche et Moyen-Orient':14, 'Royaume-Uni':15, 'Russie':16, 'Suisse':17} 

df_provenance_etrangers['id_provenance'] = df_provenance_etrangers['provenance'].apply(set_values, args =(dic_provenance, )) 

df_provenance_etrangers.sample(20)

,annee,trimestre,quantite,provenance,destination,id_provenance
8,2011,1,219,Afrique,France métropolitaine,2
926,2016,4,527,Amérique centrale et du Sud,France métropolitaine,1
1068,2017,3,363,Japon,France métropolitaine,12
534,2014,2,2508,Asie et Océanie,France métropolitaine,5
736,2015,3,2182,Belgique,France métropolitaine,6
1358,2019,2,1069,Suisse,France métropolitaine,17
1114,2017,4,2051,Royaume-Uni,France métropolitaine,15
318,2012,4,596,Suisse,France métropolitaine,17
1072,2017,3,1014,Proche et Moyen-Orient,France métropolitaine,14
928,2016,4,408,Afrique,France métropolitaine,2
1220,2018,3,2089,Espagne,France métropolitaine,8
698,2015,2,781,Chine,France métropolitaine,7
816,2016,1,935,Belgique,France métropolitaine,6
1262,2018,4,1925,Etats-Unis,France métropolitaine,9
578,2014,3,826,Chine,France métropolitaine,7
956,2016,4,209,Russie,France métropolitaine,16
1172,2018,2,4013,Amérique,France métropolitaine,4
108,2011,3,660,Japon,France métropolitaine,12
708,2015,2,389,Japon,France métropolitaine,12
386,2013,2,1352,Italie,France métropolitaine,11

In [95]:
df_date.sample(10)

     id_date  annee       mois  trimestre
114      115   2020    juillet          3
106      107   2019   novembre          4
84        85   2018    janvier          1
68        69   2016  septembre          3
40        41   2014        mai          2
109      110   2020    fevrier          1
39        40   2014      avril          2
77        78   2017       juin          2
100      101   2019        mai          2
1          2   2011    fevrier          1

In [96]:
df_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_date    120 non-null    int64
 1   annee      120 non-null    int64
 2   mois       120 non-null    object
 3   trimestre  120 non-null    int64
dtypes: int64(3), object(1)
memory usage: 3.9+ KB

In [97]:
df_provenance_etrangers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 612 entries, 6 to 1438
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   annee          612 non-null    object
 1   trimestre      612 non-null    int64
 2   quantite       612 non-null    object
 3   provenance     612 non-null    object
 4   destination    612 non-null    object
 5   id_provenance  612 non-null    int64
dtypes: int64(2), object(4)
memory usage: 33.5+ KB

In [98]:
df_provenance_etrangers["annee"] = pd.to_numeric(df_provenance_etrangers["annee"])
df_provenance_etrangers["quantite"] = pd.to_numeric(df_provenance_etrangers["quantite"])

In [99]:
#Nous allons faire une jointure des 2 dataframes en indiquant les colonnes sur lesquelles nous ferons la jointure

df_fusionprovenance= df_provenance_etrangers.merge(df_date, on = ['annee','trimestre'])

df_fusionprovenance.sample(20)

,annee,trimestre,quantite,provenance,destination,id_provenance,id_date,mois
26,2011,1,811,Etats-Unis,France métropolitaine,9,3,mars
91,2011,2,311,Proche et Moyen-Orient,France métropolitaine,14,5,mai
475,2013,2,1309,Belgique,France métropolitaine,6,29,mai
732,2014,3,826,Chine,France métropolitaine,7,43,juillet
995,2015,4,1388,Etats-Unis,France métropolitaine,9,60,decembre
1700,2019,2,1399,Belgique,France métropolitaine,6,102,juin
1718,2019,2,401,Japon,France métropolitaine,12,102,juin
735,2014,3,1923,Espagne,France métropolitaine,8,43,juillet
918,2015,3,824,Amérique centrale et du Sud,France métropolitaine,1,55,juillet
795,2014,4,1049,Italie,France métropolitaine,11,46,octobre
112,2011,3,3216,Amérique,France métropolitaine,4,8,aout
1421,2017,4,2051,Royaume-Uni,France métropolitaine,15,84,decembre
183,2011,4,1024,Italie,France métropolitaine,11,10,octobre
1338,2017,3,3589,Asie et Océanie,France métropolitaine,5,79,juillet
1240,2017,1,880,Belgique,France métropolitaine,6,74,fevrier
1532,2018,3,922,Amérique centrale et du Sud,France métropolitaine,1,93,septembre
254,2012,1,369,Suisse,France métropolitaine,17,15,mars
1509,2018,2,1262,Italie,France métropolitaine,11,88,avril
1387,2017,4,2489,Amérique,France métropolitaine,4,83,novembre
1015,2015,4,216,Russie,France métropolitaine,16,59,novembre

In [100]:
df_zoneoriginetouriste = df_fusionprovenance[['id_date','id_provenance','quantite','destination']]
df_zoneoriginetouriste.sample(10)

      id_date  id_provenance  quantite            destination
273        16              7       389  France métropolitaine
1642       98              4      2089  France métropolitaine
118         8              6      2225  France métropolitaine
1136       69              5      3293  France métropolitaine
1794      106              4      2715  France métropolitaine
1614       94             12       390  France métropolitaine
1512       88             12       350  France métropolitaine
326        21              7       579  France métropolitaine
1793      108              3      1306  France métropolitaine
1630       95             17       703  France métropolitaine

In [ ]:
df_zoneoriginetouriste.to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/zone_origine_touristes.csv', index=False)

In [101]:
df_regiondepart = df_fusionprovenance[['id_provenance','provenance']]
df_regiondepart.sample(10)

      id_provenance                   provenance
548              13                     Pays-Bas
1548              7                        Chine
468               4                     Amérique
1427             17                       Suisse
1493              5              Asie et Océanie
260               2                      Afrique
1736              1  Amérique centrale et du Sud
616               2                      Afrique
1671             14       Proche et Moyen-Orient
904              13                     Pays-Bas

In [102]:
df_regiondepart.drop_duplicates(inplace=True) #suppression des duplicats
df_regiondepart

<ipython-input-102-1b86db03dcdf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regiondepart.drop_duplicates(inplace=True) #suppression des duplicats

    id_provenance                   provenance
0               1  Amérique centrale et du Sud
3               2                      Afrique
6               3                    Allemagne
9               4                     Amérique
12              5              Asie et Océanie
15              6                     Belgique
18              7                        Chine
21              8                      Espagne
24              9                   Etats-Unis
27             10           Europe hors France
30             11                       Italie
33             12                        Japon
36             13                     Pays-Bas
39             14       Proche et Moyen-Orient
42             15                  Royaume-Uni
45             16                       Russie
48             17                       Suisse

In [ ]:
df_regiondepart.to_csv('C:/Users/Alain NGABO/Dropbox/SIMPLON/Chefdoeuvre/data_propre/region_depart.csv', index=False)

### ******* fin *********